{
  "extends": "standard",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "only-multiline"]
  },
  "globals": {
    "atob": true,
    "btoa": true,
    "FileReader": true,
    "ga": true,
    "localStorage": true
  },
  "plugins": [
    "vue"
  ]
}