// Colors

$light:                     #e1e1e1 !default;
$dark:                      #222222 !default;
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$twitch-color:              #6441A5;
$facebook-color:            #3b5998;
$twitter-color:             #55acee;

$blue:                      #104365;
$blue-dark:                 #0b1c27;
$blue-light:                #01d6f3;

$color-attack:              #FFBD00;
$color-health:              #D60002;

$color-abyssian:            #996bd1;
$color-lyonar:              #e7c151;
$color-magmar:              #51aa85;
$color-songhai:             #ee5c5c;
$color-vanar:               #5bbacf;
$color-vetruvian:           #f08d44;

$color-basic:               #aaa;
$color-common:              #a7a7a7;
$color-rare:                #016cb0;
$color-epic:                #c501dc;
$color-legendary:           #ff911a;

$font-size-root:            16px !default;
$font-family-sans-serif:    LatoRegular, sans-serif !default;
$font-family-base:          $font-family-sans-serif !default;
$font-size-base:            1rem !default;
$line-height-base:          1.5 !default;
$body-color:                #e9e9e9 !default;
$body-bg:                   $blue-dark !default;
$abbr-border-color:         $gray-dark !default;
$dt-font-weight:            bold !default;
$link-color:                #01afee !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     none !default;
$table-bg:                  transparent !default;
$table-cell-padding:        .75rem !default;
$text-muted:                $gray-light !default;

$spacing-vert:              30px;
$spacing-horz:              30px;

// Shadows
$light-shadow:              0px 0px 8px 0px rgba(200,200,200,1) !default;
$medium-shadow:             0px 0px 8px 0px rgba(25,25,25,1) !default;

// Transitions
$all-fast:                  all .1s ease-out;
$all-medium:                all .4s ease-out;
$all-slow:                  all .6s ease-out;

// Z-Index
$z-drawer-deck: 500;
$z-drawer-filters: 400;
$z-top-nav: 300;
$perfect-scrollbar: 100;
$click-stopper: 50;
$z-card-cost: 40;
$filter-area: 10;
$faction-select-image: 2;

// Widths
$width-drawer-filter: 48px;
$width-drawer-deck: 340px;

// Icons
$icon-clear: '\e14c';
$icon-checkbox-empty: '\e835';
$icon-checkbox: '\e834';
$icon-download: '\e2c4';
$icon-down-arrow: '\e313';
$icon-upload: '\e2c6';
$icon-search: '\e8b6';
