/* Includes */
@import 'includes';

/* Files */
@import 'reboot';

@font-face {
  font-family: LatoRegular;
  src: url(https://dl.dropboxusercontent.com/u/24984522/Lato-Regular.woff);
}

.container {
  max-width: 1570px;
  margin: 0 15px;

  @include breakpoint(vl) {
    margin: 0 auto;
  }
}
