/* Includes */
@import 'includes';

/* Files */
@import 'reboot';
@import '~perfect-scrollbar/dist/css/perfect-scrollbar';
@import 'iconmoo';
@import 'tooltip';

/* Sprites */
@import 'sprites/abyssian';
@import 'sprites/generals';
@import 'sprites/lyonar';
@import 'sprites/songhai';
@import 'sprites/magmar';
@import 'sprites/neutral';
@import 'sprites/vanar';
@import 'sprites/vetruvian';

@font-face {
  font-family: LatoRegular;
  src: url(assets/fonts/Lato-Regular.woff);
}

html {
  font-size: 14px;

  @include breakpoint(md) {
    font-size: 16px;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  background: $blue;
  border: none;
  padding: 8px;
  color: $light;
  cursor: pointer;

  &:hover {
    background: lighten($blue, 10%);
  }

  &:active, &:focus {
    outline: none;
  }
}

.sprite {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.sprite.minion, .sprite.general {
  margin: 0 auto;
  width: 160px;
  height: 160px;
}

.sprite.spell, .sprite.artifact {
  margin: 0 auto;
  width: 96px;
  height: 96px;
}

.sprite.minion-sm {
  top: -78px;
  right: -40px;
  z-index: 2;
  transform: scaleX(-0.5) scaleY(0.5);
  width: 160px;
  height: 160px;
}

.sprite.spell-sm, .sprite.artifact-sm {
  top: -26px;
  right: -10px;
  transform: scale(0.6);
  width: 96px;
  height: 96px;
}

.sprite.general-md {
  bottom: 5px;
  width: 100px;
  height: 114px;
  left: 0;
}

.sprite.general-lg {
  width: 215px;
  height: 245px;
}

.ps-scrollbar-y-rail {
  z-index: $perfect-scrollbar
}

::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(150,150,150,0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(150,150,150,0.3);
}
