.abyssian-sprite {
    background-image: url(https://dl.dropboxusercontent.com/u/24984522/sprites_abyssian.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.abyssian-20049 {
    background-position: 0 0;
}

.abyssian-20050 {
    background-position: -96px 0;
}

.abyssian-20051 {
    background-position: -192px 0;
}

.abyssian-20052 {
    background-position: -288px 0;
}

.abyssian-20057 {
    background-position: -384px 0;
}

.abyssian-20059 {
    background-position: -480px 0;
}

.abyssian-20061 {
    background-position: -576px 0;
}

.abyssian-20065 {
    background-position: -672px 0;
}

.abyssian-20069 {
    background-position: -768px 0;
}

.abyssian-20070 {
    background-position: 0 -96px;
}

.abyssian-20071 {
    background-position: -96px -96px;
}

.abyssian-20072 {
    background-position: -192px -96px;
}

.abyssian-20089 {
    background-position: -288px -96px;
}

.abyssian-20131 {
    background-position: -384px -96px;
}

.abyssian-20133 {
    background-position: -480px -96px;
}

.abyssian-20154 {
    background-position: -576px -96px;
}

.abyssian-20166 {
    background-position: -672px -96px;
}

.abyssian-20199 {
    background-position: -768px -96px;
}

.abyssian-20200 {
    background-position: 0 -192px;
}

.abyssian-20201 {
    background-position: -96px -192px;
}

.abyssian-20204 {
    background-position: -192px -192px;
}

.abyssian-20205 {
    background-position: -288px -192px;
}

.abyssian-20213 {
    background-position: -384px -192px;
}

.abyssian-30002 {
    background-position: -480px -192px;
}

.abyssian-30005 {
    background-position: -576px -192px;
}

.abyssian-30014 {
    background-position: -672px -192px;
}

.abyssian-30020 {
    background-position: -768px -192px;
}

.abyssian-308 {
    background-position: 0 -288px;
}

.abyssian-309 {
    background-position: -160px -288px;
}

.abyssian-310 {
    background-position: -320px -288px;
}

.abyssian-311 {
    background-position: -480px -288px;
}

.abyssian-312 {
    background-position: -640px -288px;
}

.abyssian-313 {
    background-position: 0 -448px;
}

.abyssian-314 {
    background-position: -160px -448px;
}

.abyssian-316 {
    background-position: -320px -448px;
}

.abyssian-317 {
    background-position: -480px -448px;
}

.abyssian-318 {
    background-position: -640px -448px;
}

.abyssian-319 {
    background-position: 0 -608px;
}

.abyssian-320 {
    background-position: -160px -608px;
}

.abyssian-321 {
    background-position: -320px -608px;
}

.abyssian-322 {
    background-position: -480px -608px;
}

.abyssian-324 {
    background-position: -640px -608px;
}

.abyssian-325 {
    background-position: -864px 0;
}

.abyssian-326 {
    background-position: -864px -160px;
}

.abyssian-327 {
    background-position: -800px -320px;
}

.abyssian-328 {
    background-position: -800px -480px;
}

.abyssian-329 {
    background-position: -800px -640px;
}

.abyssian-330 {
    background-position: 0 -800px;
}
