.abyssian-sprite {
    background-image: url(assets/images//sprites_abyssian.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.abyssian-20049 {
    background-position: -5px -5px;
}

.abyssian-20050 {
    background-position: -111px -5px;
}

.abyssian-20051 {
    background-position: -217px -5px;
}

.abyssian-20052 {
    background-position: -323px -5px;
}

.abyssian-20057 {
    background-position: -429px -5px;
}

.abyssian-20059 {
    background-position: -535px -5px;
}

.abyssian-20061 {
    background-position: -641px -5px;
}

.abyssian-20065 {
    background-position: -747px -5px;
}

.abyssian-20069 {
    background-position: -853px -5px;
}

.abyssian-20070 {
    background-position: -5px -111px;
}

.abyssian-20071 {
    background-position: -111px -111px;
}

.abyssian-20072 {
    background-position: -217px -111px;
}

.abyssian-20089 {
    background-position: -323px -111px;
}

.abyssian-20131 {
    background-position: -429px -111px;
}

.abyssian-20133 {
    background-position: -535px -111px;
}

.abyssian-20154 {
    background-position: -641px -111px;
}

.abyssian-20166 {
    background-position: -747px -111px;
}

.abyssian-20199 {
    background-position: -853px -111px;
}

.abyssian-20200 {
    background-position: -5px -217px;
}

.abyssian-20201 {
    background-position: -111px -217px;
}

.abyssian-20204 {
    background-position: -217px -217px;
}

.abyssian-20205 {
    background-position: -323px -217px;
}

.abyssian-20213 {
    background-position: -429px -217px;
}

.abyssian-20226 {
    background-position: -535px -217px;
}

.abyssian-20227 {
    background-position: -641px -217px;
}

.abyssian-20243 {
    background-position: -747px -217px;
}

.abyssian-30002 {
    background-position: -853px -217px;
}

.abyssian-30005 {
    background-position: -5px -323px;
}

.abyssian-30014 {
    background-position: -111px -323px;
}

.abyssian-30020 {
    background-position: -217px -323px;
}

.abyssian-308 {
    background-position: -323px -323px;
}

.abyssian-309 {
    background-position: -493px -323px;
}

.abyssian-310 {
    background-position: -663px -323px;
}

.abyssian-311 {
    background-position: -833px -323px;
}

.abyssian-312 {
    background-position: -5px -493px;
}

.abyssian-313 {
    background-position: -175px -493px;
}

.abyssian-314 {
    background-position: -345px -493px;
}

.abyssian-316 {
    background-position: -515px -493px;
}

.abyssian-317 {
    background-position: -685px -493px;
}

.abyssian-318 {
    background-position: -5px -663px;
}

.abyssian-319 {
    background-position: -175px -663px;
}

.abyssian-320 {
    background-position: -345px -663px;
}

.abyssian-321 {
    background-position: -515px -663px;
}

.abyssian-322 {
    background-position: -685px -663px;
}

.abyssian-324 {
    background-position: -5px -833px;
}

.abyssian-325 {
    background-position: -175px -833px;
}

.abyssian-326 {
    background-position: -345px -833px;
}

.abyssian-327 {
    background-position: -515px -833px;
}

.abyssian-328 {
    background-position: -685px -833px;
}

.abyssian-329 {
    background-position: -959px -5px;
}

.abyssian-330 {
    background-position: -1003px -175px;
}

.abyssian-331 {
    background-position: -1003px -345px;
}

.abyssian-333 {
    background-position: -855px -515px;
}

.abyssian-334 {
    background-position: -855px -685px;
}
