.abyssian-sprite {
    background-image: url(assets/images/sprites_abyssian.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.abyssian-20049 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20050 {
    background-image: url(assets/sprites/20050.gif);
}

.abyssian-20051 {
    background-image: url(assets/sprites/20051.gif);
}

.abyssian-20052 {
    background-image: url(assets/sprites/20052.gif);
}

.abyssian-20057 {
    background-image: url(assets/sprites/20057.gif);
}

.abyssian-20059 {
    background-image: url(assets/sprites/20059.gif);
}

.abyssian-20061 {
    background-image: url(assets/sprites/20061.gif);
}

.abyssian-20065 {
    background-image: url(assets/sprites/20065.gif);
}

.abyssian-20069 {
    background-image: url(assets/sprites/20069.gif);
}

.abyssian-20070 {
    background-image: url(assets/sprites/20070.gif);
}

.abyssian-20071 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20072 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20089 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20131 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20133 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20154 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20166 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20199 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20200 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20201 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20204 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20205 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20213 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20226 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20227 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20243 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-20257 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-30002 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-30005 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-30014 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-30020 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-30030 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-308 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-309 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-310 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-311 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-312 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-313 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-314 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-316 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-317 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-318 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-319 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-320 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-321 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-322 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-324 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-325 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-326 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-327 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-328 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-329 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-330 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-331 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-333 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-334 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-336 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-337 {
    background-image: url(assets/sprites/20049.gif);
}

.abyssian-338 {
    background-image: url(assets/sprites/20049.gif);
}
