.general-sprite {
    background-image: url(assets/images//sprites_generals.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.general-1 {
    background-position: -5px -5px;
}

.general-101 {
    background-position: -175px -5px;
}

.general-123 {
    background-position: -345px -5px;
}

.general-201 {
    background-position: -515px -5px;
}

.general-223 {
    background-position: -685px -5px;
}

.general-23 {
    background-position: -855px -5px;
}

.general-301 {
    background-position: -5px -175px;
}

.general-323 {
    background-position: -175px -175px;
}

.general-401 {
    background-position: -345px -175px;
}

.general-418 {
    background-position: -515px -175px;
}

.general-501 {
    background-position: -685px -175px;
}

.general-527 {
    background-position: -855px -175px;
}

.general-hex_1, .general-hex_1000001, .general-hex_2000001, .general-hex_3000001, .general-hex_4000001, .general-hex_5000001 {
    background-position: -5px -345px;
}

.general-hex_23, .general-hex_1000023, .general-hex_2000023, .general-hex_3000023, .general-hex_4000023, .general-hex_5000023 {
    background-position: -900px -469px;
}

.general-hex_101, .general-hex_1000101, .general-hex_2000101, .general-hex_3000101, .general-hex_4000101, .general-hex_5000101 {
    background-position: -565px -345px;
}

.general-hex_123, .general-hex_1000123, .general-hex_2000123, .general-hex_3000123, .general-hex_4000123, .general-hex_5000123 {
    background-position: -900px -345px;
}

.general-hex_201, .general-hex_1000201, .general-hex_2000201, .general-hex_3000201, .general-hex_4000201, .general-hex_5000201 {
    background-position: -5px -469px;
}

.general-hex_223, .general-hex_1000223, .general-hex_2000223, .general-hex_3000223, .general-hex_4000223, .general-hex_5000223 {
    background-position: -565px -469px;
}

.general-hex_301, .general-hex_1000301, .general-hex_2000301, .general-hex_3000301, .general-hex_4000301, .general-hex_5000301 {
    background-position: -905px -593px;
}

.general-hex_323, .general-hex_1000323, .general-hex_2000323, .general-hex_3000323, .general-hex_4000323, .general-hex_5000323 {
    background-position: -1025px -260px;
}

.general-hex_401, .general-hex_1000401, .general-hex_2000401, .general-hex_3000401, .general-hex_4000401, .general-hex_5000401 {
    background-position: -1135px -260px;
}

.general-hex_418, .general-hex_1000418, .general-hex_2000418, .general-hex_3000418, .general-hex_4000418, .general-hex_5000418 {
    background-position: -5px -894px;
}

.general-hex_501, .general-hex_1000501, .general-hex_2000501, .general-hex_3000501, .general-hex_4000501, .general-hex_5000501 {
    background-position: -115px -894px;
}

.general-hex_527, .general-hex_1000527, .general-hex_2000527, .general-hex_3000527, .general-hex_4000527, .general-hex_5000527 {
    background-position: -450px -894px;
}

.general-hex_1-lg, .general-hex_1000001-lg, .general-hex_2000001-lg, .general-hex_3000001-lg, .general-hex_4000001-lg, .general-hex_5000001-lg {
    background-position: -115px -345px;
}

.general-hex_23-lg, .general-hex_1000023-lg, .general-hex_2000023-lg, .general-hex_3000023-lg, .general-hex_4000023-lg, .general-hex_5000023-lg {
    background-position: -680px -600px;
}

.general-hex_101-lg, .general-hex_1000101-lg, .general-hex_2000101-lg, .general-hex_3000101-lg, .general-hex_4000101-lg, .general-hex_5000101-lg {
    background-position: -675px -345px;
}

.general-hex_123-lg, .general-hex_1000123-lg, .general-hex_2000123-lg, .general-hex_3000123-lg, .general-hex_4000123-lg, .general-hex_5000123-lg {
    background-position: -5px -600px;
}

.general-hex_201-lg, .general-hex_1000201-lg, .general-hex_2000201-lg, .general-hex_3000201-lg, .general-hex_4000201-lg, .general-hex_5000201-lg {
    background-position: -230px -600px;
}

.general-hex_223-lg, .general-hex_1000223-lg, .general-hex_2000223-lg, .general-hex_3000223-lg, .general-hex_4000223-lg, .general-hex_5000223-lg {
    background-position: -455px -600px;
}

.general-hex_301-lg, .general-hex_1000301-lg, .general-hex_2000301-lg, .general-hex_3000301-lg, .general-hex_4000301-lg, .general-hex_5000301-lg {
    background-position: -1025px -5px;
}

.general-hex_323-lg, .general-hex_1000323-lg, .general-hex_2000323-lg, .general-hex_3000323-lg, .general-hex_4000323-lg, .general-hex_5000323-lg {
    background-position: -1015px -384px;
}

.general-hex_401-lg, .general-hex_1000401-lg, .general-hex_2000401-lg, .general-hex_3000401-lg, .general-hex_4000401-lg, .general-hex_5000401-lg {
    background-position: -1015px -639px;
}

.general-hex_418-lg, .general-hex_1000418-lg, .general-hex_2000418-lg, .general-hex_3000418-lg, .general-hex_4000418-lg, .general-hex_5000418-lg {
    background-position: -640px -342px;
}

.general-hex_501-lg, .general-hex_1000501-lg, .general-hex_2000501-lg, .general-hex_3000501-lg, .general-hex_4000501-lg, .general-hex_5000501-lg {
    background-position: -225px -894px;
}

.general-hex_527-lg, .general-hex_1000527-lg, .general-hex_2000527-lg, .general-hex_3000527-lg, .general-hex_4000527-lg, .general-hex_5000527-lg {
    background-position: -560px -894px;
}
