.general-sprite {
    background-image: url(https://dl.dropboxusercontent.com/u/24984522/sprites_generals.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.general-1 {
    background-position: -5px -5px;
}

.general-101 {
    background-position: -175px -5px;
}

.general-123 {
    background-position: -345px -5px;
}

.general-201 {
    background-position: -5px -175px;
}

.general-223 {
    background-position: -175px -175px;
}

.general-23 {
    background-position: -345px -175px;
}

.general-301 {
    background-position: -5px -345px;
}

.general-323 {
    background-position: -175px -345px;
}

.general-401 {
    background-position: -345px -345px;
}

.general-418 {
    background-position: -515px -5px;
}

.general-501 {
    background-position: -515px -175px;
}

.general-527 {
    background-position: -515px -345px;
}
