.lyonar-sprite {
    background-image: url(assets/images/sprites_lyonar.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.lyonar-10 {
    background-position: -5px -5px;
}

.lyonar-11 {
    background-position: -175px -5px;
}

.lyonar-12 {
    background-position: -345px -5px;
}

.lyonar-13 {
    background-position: -515px -5px;
}

.lyonar-14 {
    background-position: -685px -5px;
}

.lyonar-15 {
    background-position: -855px -5px;
}

.lyonar-16 {
    background-position: -5px -175px;
}

.lyonar-17 {
    background-position: -175px -175px;
}

.lyonar-18 {
    background-position: -345px -175px;
}

.lyonar-20 {
    background-position: -515px -175px;
}

.lyonar-20043 {
    background-position: -685px -175px;
}

.lyonar-20044 {
    background-position: -791px -175px;
}

.lyonar-20045 {
    background-position: -897px -175px;
}

.lyonar-20046 {
    background-position: -685px -281px;
}

.lyonar-20047 {
    background-position: -791px -281px;
}

.lyonar-20062 {
    background-position: -897px -281px;
}

.lyonar-20064 {
    background-position: -5px -387px;
}

.lyonar-20066 {
    background-position: -111px -387px;
}

.lyonar-20067 {
    background-position: -217px -387px;
}

.lyonar-20068 {
    background-position: -323px -387px;
}

.lyonar-20090 {
    background-position: -429px -387px;
}

.lyonar-20104 {
    background-position: -535px -387px;
}

.lyonar-20109 {
    background-position: -641px -387px;
}

.lyonar-20120 {
    background-position: -747px -387px;
}

.lyonar-20128 {
    background-position: -853px -387px;
}

.lyonar-20158 {
    background-position: -959px -387px;
}

.lyonar-20161 {
    background-position: -5px -493px;
}

.lyonar-20175 {
    background-position: -111px -493px;
}

.lyonar-20186 {
    background-position: -217px -493px;
}

.lyonar-20187 {
    background-position: -323px -493px;
}

.lyonar-20188 {
    background-position: -429px -493px;
}

.lyonar-20189 {
    background-position: -535px -493px;
}

.lyonar-20190 {
    background-position: -641px -493px;
}

.lyonar-20220 {
    background-position: -747px -493px;
}

.lyonar-20232 {
    background-position: -853px -493px;
}

.lyonar-20233 {
    background-position: -959px -493px;
}

.lyonar-20235 {
    background-position: -5px -599px;
}

.lyonar-20249 {
    background-position: -111px -599px;
}

.lyonar-21 {
    background-position: -217px -599px;
}

.lyonar-22 {
    background-position: -387px -599px;
}

.lyonar-24 {
    background-position: -557px -599px;
}

.lyonar-25 {
    background-position: -727px -599px;
}

.lyonar-26 {
    background-position: -897px -599px;
}

.lyonar-27 {
    background-position: -5px -769px;
}

.lyonar-28 {
    background-position: -175px -769px;
}

.lyonar-29 {
    background-position: -345px -769px;
}

.lyonar-30 {
    background-position: -515px -769px;
}

.lyonar-30001 {
    background-position: -685px -769px;
}

.lyonar-30004 {
    background-position: -791px -769px;
}

.lyonar-30018 {
    background-position: -897px -769px;
}

.lyonar-30024 {
    background-position: -685px -875px;
}

.lyonar-30026 {
    background-position: -791px -875px;
}

.lyonar-31 {
    background-position: -897px -875px;
}

.lyonar-32 {
    background-position: -1025px -5px;
}

.lyonar-33 {
    background-position: -1003px -175px;
}

.lyonar-34 {
    background-position: -1065px -345px;
}

.lyonar-35 {
    background-position: -1067px -515px;
}

.lyonar-36 {
    background-position: -1067px -685px;
}

.lyonar-8 {
    background-position: -1067px -855px;
}

.lyonar-9 {
    background-position: -5px -1025px;
}
