.lyonar-sprite {
    background-image: url(https://dl.dropboxusercontent.com/u/24984522/sprites_lyonar.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.lyonar-10 {
    background-position: -2px -2px;
}

.lyonar-11 {
    background-position: -166px -2px;
}

.lyonar-12 {
    background-position: -330px -2px;
}

.lyonar-13 {
    background-position: -494px -2px;
}

.lyonar-14 {
    background-position: -658px -2px;
}

.lyonar-15 {
    background-position: -2px -166px;
}

.lyonar-16 {
    background-position: -166px -166px;
}

.lyonar-17 {
    background-position: -330px -166px;
}

.lyonar-18 {
    background-position: -494px -166px;
}

.lyonar-20 {
    background-position: -658px -166px;
}

.lyonar-20043 {
    background-position: -822px -2px;
}

.lyonar-20044 {
    background-position: -822px -102px;
}

.lyonar-20045 {
    background-position: -822px -202px;
}

.lyonar-20046 {
    background-position: -822px -302px;
}

.lyonar-20047 {
    background-position: -2px -402px;
}

.lyonar-20062 {
    background-position: -102px -402px;
}

.lyonar-20064 {
    background-position: -202px -402px;
}

.lyonar-20066 {
    background-position: -302px -402px;
}

.lyonar-20067 {
    background-position: -402px -402px;
}

.lyonar-20068 {
    background-position: -502px -402px;
}

.lyonar-20090 {
    background-position: -602px -402px;
}

.lyonar-20104 {
    background-position: -702px -402px;
}

.lyonar-20109 {
    background-position: -802px -402px;
}

.lyonar-20120 {
    background-position: -2px -502px;
}

.lyonar-20128 {
    background-position: -102px -502px;
}

.lyonar-20158 {
    background-position: -202px -502px;
}

.lyonar-20161 {
    background-position: -302px -502px;
}

.lyonar-20175 {
    background-position: -402px -502px;
}

.lyonar-20186 {
    background-position: -502px -502px;
}

.lyonar-20187 {
    background-position: -602px -502px;
}

.lyonar-20188 {
    background-position: -702px -502px;
}

.lyonar-20189 {
    background-position: -802px -502px;
}

.lyonar-20190 {
    background-position: -2px -602px;
}

.lyonar-20220 {
    background-position: -102px -602px;
}

.lyonar-21 {
    background-position: -202px -602px;
}

.lyonar-22 {
    background-position: -366px -602px;
}

.lyonar-24 {
    background-position: -530px -602px;
}

.lyonar-25 {
    background-position: -694px -602px;
}

.lyonar-26 {
    background-position: -922px -2px;
}

.lyonar-27 {
    background-position: -922px -166px;
}

.lyonar-28 {
    background-position: -922px -330px;
}

.lyonar-29 {
    background-position: -902px -494px;
}

.lyonar-30 {
    background-position: -858px -658px;
}

.lyonar-30001 {
    width: 96px;
    height: 96px;
    background-position: -2px -822px;
}

.lyonar-30004 {
    width: 96px;
    height: 96px;
    background-position: -102px -822px;
}

.lyonar-30018 {
    width: 96px;
    height: 96px;
    background-position: -202px -822px;
}

.lyonar-30024 {
    width: 96px;
    height: 96px;
    background-position: -302px -822px;
}

.lyonar-8 {
    background-position: -402px -822px;
}

.lyonar-9 {
    background-position: -566px -822px;
}
