.magmar-sprite {
    background-image: url(https://dl.dropboxusercontent.com/u/24984522/sprites_magmar.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}


.magmar-20063 {
    background-position: -5px -5px;
}

.magmar-20111 {
    background-position: -111px -5px;
}

.magmar-20112 {
    background-position: -217px -5px;
}

.magmar-20113 {
    background-position: -323px -5px;
}

.magmar-20114 {
    background-position: -429px -5px;
}

.magmar-20115 {
    background-position: -535px -5px;
}

.magmar-20116 {
    background-position: -641px -5px;
}

.magmar-20117 {
    background-position: -747px -5px;
}

.magmar-20118 {
    background-position: -853px -5px;
}

.magmar-20119 {
    background-position: -5px -111px;
}

.magmar-20121 {
    background-position: -111px -111px;
}

.magmar-20122 {
    background-position: -217px -111px;
}

.magmar-20124 {
    background-position: -323px -111px;
}

.magmar-20125 {
    background-position: -429px -111px;
}

.magmar-20156 {
    background-position: -535px -111px;
}

.magmar-20157 {
    background-position: -641px -111px;
}

.magmar-20162 {
    background-position: -747px -111px;
}

.magmar-20202 {
    background-position: -853px -111px;
}

.magmar-20203 {
    background-position: -5px -217px;
}

.magmar-20206 {
    background-position: -111px -217px;
}

.magmar-20218 {
    background-position: -217px -217px;
}

.magmar-20219 {
    background-position: -323px -217px;
}

.magmar-30012 {
    background-position: -429px -217px;
}

.magmar-30013 {
    background-position: -535px -217px;
}

.magmar-30017 {
    background-position: -641px -217px;
}

.magmar-30025 {
    background-position: -747px -217px;
}

.magmar-402 {
    background-position: -5px -323px;
}

.magmar-403 {
    background-position: -175px -323px;
}

.magmar-404 {
    background-position: -345px -323px;
}

.magmar-405 {
    background-position: -515px -323px;
}

.magmar-406 {
    background-position: -685px -323px;
}

.magmar-407 {
    background-position: -5px -493px;
}

.magmar-408 {
    background-position: -175px -493px;
}

.magmar-409 {
    background-position: -345px -493px;
}

.magmar-410 {
    background-position: -515px -493px;
}

.magmar-412 {
    background-position: -685px -493px;
}

.magmar-413 {
    background-position: -5px -663px;
}

.magmar-414 {
    background-position: -175px -663px;
}

.magmar-415 {
    background-position: -345px -663px;
}

.magmar-417 {
    background-position: -515px -663px;
}

.magmar-419 {
    background-position: -685px -663px;
}

.magmar-420 {
    background-position: -959px -5px;
}

.magmar-421 {
    background-position: -959px -175px;
}

.magmar-422 {
    background-position: -855px -345px;
}

.magmar-423 {
    background-position: -855px -515px;
}

.magmar-424 {
    background-position: -855px -685px;
}

.magmar-425 {
    background-position: -5px -855px;
}

.magmar-426 {
    background-position: -175px -855px;
}
