.neutral-sprite {
    background-image: url(https://dl.dropboxusercontent.com/u/24984522/sprites_neutral_2.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.neutral-10001 {
    background-position: 0 0;
}

.neutral-10009 {
    background-position: -160px 0;
}

.neutral-10012 {
    background-position: -320px 0;
}

.neutral-10013 {
    background-position: -480px 0;
}

.neutral-10014 {
    background-position: -640px 0;
}

.neutral-10016 {
    background-position: -800px 0;
}

.neutral-10017 {
    background-position: -960px 0;
}

.neutral-10018 {
    background-position: -1120px 0;
}

.neutral-10019 {
    background-position: -1280px 0;
}

.neutral-10020 {
    background-position: -1440px 0;
}

.neutral-10021 {
    background-position: -1600px 0;
}

.neutral-10022 {
    background-position: -1760px 0;
}

.neutral-10204 {
    background-position: 0 -160px;
}

.neutral-10301 {
    background-position: -160px -160px;
}

.neutral-10302 {
    background-position: -320px -160px;
}

.neutral-10303 {
    background-position: -480px -160px;
}

.neutral-10304 {
    background-position: -640px -160px;
}

.neutral-10305 {
    background-position: -800px -160px;
}

.neutral-10306 {
    background-position: -960px -160px;
}

.neutral-10307 {
    background-position: -1120px -160px;
}

.neutral-10953 {
    background-position: -1280px -160px;
}

.neutral-10954 {
    background-position: -1440px -160px;
}

.neutral-10955 {
    background-position: -1600px -160px;
}

.neutral-10956 {
    background-position: -1760px -160px;
}

.neutral-10957 {
    background-position: 0 -320px;
}

.neutral-10958 {
    background-position: -160px -320px;
}

.neutral-10959 {
    background-position: -320px -320px;
}

.neutral-10960 {
    background-position: -480px -320px;
}

.neutral-10961 {
    background-position: -640px -320px;
}

.neutral-10962 {
    background-position: -800px -320px;
}

.neutral-10963 {
    background-position: -960px -320px;
}

.neutral-10965 {
    background-position: -1120px -320px;
}

.neutral-10966 {
    background-position: -1280px -320px;
}

.neutral-10973 {
    background-position: -1440px -320px;
}

.neutral-10974 {
    background-position: -1600px -320px;
}

.neutral-10975 {
    background-position: -1760px -320px;
}

.neutral-10976 {
    background-position: 0 -480px;
}

.neutral-10978 {
    background-position: -160px -480px;
}

.neutral-10979 {
    background-position: -320px -480px;
}

.neutral-10980 {
    background-position: -480px -480px;
}

.neutral-10981 {
    background-position: -640px -480px;
}

.neutral-10982 {
    background-position: -800px -480px;
}

.neutral-10983 {
    background-position: -960px -480px;
}

.neutral-10984 {
    background-position: -1120px -480px;
}

.neutral-10985 {
    background-position: -1280px -480px;
}

.neutral-10986 {
    background-position: -1440px -480px;
}

.neutral-10987 {
    background-position: -1600px -480px;
}

.neutral-10988 {
    background-position: -1760px -480px;
}

.neutral-10989 {
    background-position: 0 -640px;
}

.neutral-10990 {
    background-position: -160px -640px;
}

.neutral-10991 {
    background-position: -320px -640px;
}

.neutral-10992 {
    background-position: -480px -640px;
}

.neutral-10993 {
    background-position: -640px -640px;
}

.neutral-10994 {
    background-position: -800px -640px;
}

.neutral-10995 {
    background-position: -960px -640px;
}

.neutral-10996 {
    background-position: -1120px -640px;
}

.neutral-10997 {
    background-position: -1280px -640px;
}

.neutral-11001 {
    background-position: -1440px -640px;
}

.neutral-11004 {
    background-position: -1600px -640px;
}

.neutral-11006 {
    background-position: -1760px -640px;
}

.neutral-11007 {
    background-position: 0 -800px;
}

.neutral-11008 {
    background-position: -160px -800px;
}

.neutral-11009 {
    background-position: -320px -800px;
}

.neutral-11010 {
    background-position: -480px -800px;
}

.neutral-11011 {
    background-position: -640px -800px;
}

.neutral-11013 {
    background-position: -800px -800px;
}

.neutral-11014 {
    background-position: -960px -800px;
}

.neutral-11015 {
    background-position: -1120px -800px;
}

.neutral-11016 {
    background-position: -1280px -800px;
}

.neutral-11017 {
    background-position: -1440px -800px;
}

.neutral-11018 {
    background-position: -1600px -800px;
}

.neutral-11019 {
    background-position: -1760px -800px;
}

.neutral-11020 {
    background-position: 0 -960px;
}

.neutral-11021 {
    background-position: -160px -960px;
}

.neutral-11022 {
    background-position: -320px -960px;
}

.neutral-11023 {
    background-position: -480px -960px;
}

.neutral-11024 {
    background-position: -640px -960px;
}

.neutral-11025 {
    background-position: -800px -960px;
}

.neutral-11026 {
    background-position: -960px -960px;
}

.neutral-11027 {
    background-position: -1120px -960px;
}

.neutral-11028 {
    background-position: -1280px -960px;
}

.neutral-11029 {
    background-position: -1440px -960px;
}

.neutral-11030 {
    background-position: -1600px -960px;
}

.neutral-11031 {
    background-position: -1760px -960px;
}

.neutral-11032 {
    background-position: 0 -1120px;
}

.neutral-11033 {
    background-position: -160px -1120px;
}

.neutral-11034 {
    background-position: -320px -1120px;
}

.neutral-11035 {
    background-position: -480px -1120px;
}

.neutral-11036 {
    background-position: -640px -1120px;
}

.neutral-11037 {
    background-position: -800px -1120px;
}

.neutral-11038 {
    background-position: -960px -1120px;
}

.neutral-11039 {
    background-position: -1120px -1120px;
}

.neutral-11040 {
    background-position: -1280px -1120px;
}

.neutral-11041 {
    background-position: -1440px -1120px;
}

.neutral-11042 {
    background-position: -1600px -1120px;
}

.neutral-11043 {
    background-position: -1760px -1120px;
}

.neutral-11044 {
    background-position: 0 -1280px;
}

.neutral-11045 {
    background-position: -160px -1280px;
}

.neutral-11046 {
    background-position: -320px -1280px;
}

.neutral-11047 {
    background-position: -480px -1280px;
}

.neutral-11048 {
    background-position: -640px -1280px;
}

.neutral-11049 {
    background-position: -800px -1280px;
}

.neutral-11051 {
    background-position: -960px -1280px;
}

.neutral-11052 {
    background-position: -1120px -1280px;
}

.neutral-11053 {
    background-position: -1280px -1280px;
}

.neutral-11054 {
    background-position: -1440px -1280px;
}

.neutral-11055 {
    background-position: -1600px -1280px;
}

.neutral-11056 {
    background-position: -1760px -1280px;
}

.neutral-11057 {
    background-position: 0 -1440px;
}

.neutral-11058 {
    background-position: -160px -1440px;
}

.neutral-11059 {
    background-position: -320px -1440px;
}

.neutral-11060 {
    background-position: -480px -1440px;
}

.neutral-11061 {
    background-position: -640px -1440px;
}

.neutral-11063 {
    background-position: -800px -1440px;
}

.neutral-11064 {
    background-position: -960px -1440px;
}

.neutral-11066 {
    background-position: -1120px -1440px;
}

.neutral-11075 {
    background-position: -1280px -1440px;
}

.neutral-11076 {
    background-position: -1440px -1440px;
}

.neutral-11077 {
    background-position: -1600px -1440px;
}

.neutral-11078 {
    background-position: -1760px -1440px;
}

.neutral-11079 {
    background-position: 0 -1600px;
}

.neutral-11080 {
    background-position: -160px -1600px;
}

.neutral-11081 {
    background-position: -320px -1600px;
}

.neutral-11082 {
    background-position: -480px -1600px;
}

.neutral-11083 {
    background-position: -640px -1600px;
}

.neutral-11084 {
    background-position: -800px -1600px;
}

.neutral-11085 {
    background-position: -960px -1600px;
}

.neutral-11086 {
    background-position: -1120px -1600px;
}

.neutral-133720 {
    background-position: -1280px -1600px;
}

.neutral-133729 {
    background-position: -1440px -1600px;
}

.neutral-133730 {
    background-position: -1600px -1600px;
}

.neutral-133733 {
    background-position: -1760px -1600px;
}

.neutral-133740 {
    background-position: 0 -1760px;
}

.neutral-19002 {
    background-position: -160px -1760px;
}

.neutral-19003 {
    background-position: -320px -1760px;
}

.neutral-19004 {
    background-position: -480px -1760px;
}

.neutral-19005 {
    background-position: -640px -1760px;
}

.neutral-19006 {
    background-position: -800px -1760px;
}

.neutral-19010 {
    background-position: -960px -1760px;
}

.neutral-19025 {
    background-position: -1120px -1760px;
}

.neutral-19026 {
    background-position: -1280px -1760px;
}

.neutral-19027 {
    background-position: -1440px -1760px;
}

.neutral-19028 {
    background-position: -1600px -1760px;
}

.neutral-19029 {
    background-position: -1760px -1760px;
}

.neutral-19030 {
    background-position: -1920px 0;
}

.neutral-19031 {
    background-position: -1920px -160px;
}

.neutral-19032 {
    background-position: -1920px -320px;
}

.neutral-19033 {
    background-position: -1920px -480px;
}

.neutral-19034 {
    background-position: -1920px -640px;
}

.neutral-19035 {
    background-position: -1920px -800px;
}

.neutral-19036 {
    background-position: -1920px -960px;
}

.neutral-19037 {
    background-position: -1920px -1120px;
}

.neutral-19038 {
    background-position: -1920px -1280px;
}

.neutral-19039 {
    background-position: -1920px -1440px;
}

.neutral-19040 {
    background-position: -1920px -1600px;
}

.neutral-19042 {
    background-position: -1920px -1760px;
}

.neutral-19043 {
    background-position: 0 -1920px;
}

.neutral-19044 {
    background-position: -160px -1920px;
}

.neutral-19045 {
    background-position: -320px -1920px;
}

.neutral-19046 {
    background-position: -480px -1920px;
}

.neutral-19047 {
    background-position: -640px -1920px;
}

.neutral-19049 {
    background-position: -800px -1920px;
}

.neutral-19050 {
    background-position: -960px -1920px;
}

.neutral-19051 {
    background-position: -1120px -1920px;
}

.neutral-19052 {
    background-position: -1280px -1920px;
}
