.neutral-sprite {
    background-image: url(https://dl.dropboxusercontent.com/u/24984522/sprites_neutral.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.neutral-10001 {
    background-position: -2px -2px;
}

.neutral-10009 {
    background-position: -166px -2px;
}

.neutral-10012 {
    background-position: -330px -2px;
}

.neutral-10013 {
    background-position: -494px -2px;
}

.neutral-10014 {
    background-position: -658px -2px;
}

.neutral-10016 {
    background-position: -822px -2px;
}

.neutral-10017 {
    background-position: -986px -2px;
}

.neutral-10018 {
    background-position: -1150px -2px;
}

.neutral-10019 {
    background-position: -1314px -2px;
}

.neutral-10020 {
    background-position: -1478px -2px;
}

.neutral-10021 {
    background-position: -1642px -2px;
}

.neutral-10022 {
    background-position: -1806px -2px;
}

.neutral-10204 {
    background-position: -2px -166px;
}

.neutral-10301 {
    background-position: -166px -166px;
}

.neutral-10302 {
    background-position: -330px -166px;
}

.neutral-10303 {
    background-position: -494px -166px;
}

.neutral-10304 {
    background-position: -658px -166px;
}

.neutral-10305 {
    background-position: -822px -166px;
}

.neutral-10306 {
    background-position: -986px -166px;
}

.neutral-10307 {
    background-position: -1150px -166px;
}

.neutral-10953 {
    background-position: -1314px -166px;
}

.neutral-10954 {
    background-position: -1478px -166px;
}

.neutral-10955 {
    background-position: -1642px -166px;
}

.neutral-10956 {
    background-position: -1806px -166px;
}

.neutral-10957 {
    background-position: -2px -330px;
}

.neutral-10958 {
    background-position: -166px -330px;
}

.neutral-10959 {
    background-position: -330px -330px;
}

.neutral-10960 {
    background-position: -494px -330px;
}

.neutral-10961 {
    background-position: -658px -330px;
}

.neutral-10962 {
    background-position: -822px -330px;
}

.neutral-10963 {
    background-position: -986px -330px;
}

.neutral-10965 {
    background-position: -1150px -330px;
}

.neutral-10966 {
    background-position: -1314px -330px;
}

.neutral-10973 {
    background-position: -1478px -330px;
}

.neutral-10974 {
    background-position: -1642px -330px;
}

.neutral-10975 {
    background-position: -1806px -330px;
}

.neutral-10976 {
    background-position: -2px -494px;
}

.neutral-10978 {
    background-position: -166px -494px;
}

.neutral-10979 {
    background-position: -330px -494px;
}

.neutral-10980 {
    background-position: -494px -494px;
}

.neutral-10981 {
    background-position: -658px -494px;
}

.neutral-10982 {
    background-position: -822px -494px;
}

.neutral-10983 {
    background-position: -986px -494px;
}

.neutral-10984 {
    background-position: -1150px -494px;
}

.neutral-10985 {
    background-position: -1314px -494px;
}

.neutral-10986 {
    background-position: -1478px -494px;
}

.neutral-10987 {
    background-position: -1642px -494px;
}

.neutral-10988 {
    background-position: -1806px -494px;
}

.neutral-10989 {
    background-position: -2px -658px;
}

.neutral-10990 {
    background-position: -166px -658px;
}

.neutral-10991 {
    background-position: -330px -658px;
}

.neutral-10992 {
    background-position: -494px -658px;
}

.neutral-10993 {
    background-position: -658px -658px;
}

.neutral-10994 {
    background-position: -822px -658px;
}

.neutral-10995 {
    background-position: -986px -658px;
}

.neutral-10996 {
    background-position: -1150px -658px;
}

.neutral-10997 {
    background-position: -1314px -658px;
}

.neutral-11001 {
    background-position: -1478px -658px;
}

.neutral-11004 {
    background-position: -1642px -658px;
}

.neutral-11006 {
    background-position: -1806px -658px;
}

.neutral-11007 {
    background-position: -2px -822px;
}

.neutral-11008 {
    background-position: -166px -822px;
}

.neutral-11009 {
    background-position: -330px -822px;
}

.neutral-11010 {
    background-position: -494px -822px;
}

.neutral-11011 {
    background-position: -658px -822px;
}

.neutral-11013 {
    background-position: -822px -822px;
}

.neutral-11014 {
    background-position: -986px -822px;
}

.neutral-11015 {
    background-position: -1150px -822px;
}

.neutral-11016 {
    background-position: -1314px -822px;
}

.neutral-11017 {
    background-position: -1478px -822px;
}

.neutral-11018 {
    background-position: -1642px -822px;
}

.neutral-11019 {
    background-position: -1806px -822px;
}

.neutral-11020 {
    background-position: -2px -986px;
}

.neutral-11021 {
    background-position: -166px -986px;
}

.neutral-11022 {
    background-position: -330px -986px;
}

.neutral-11023 {
    background-position: -494px -986px;
}

.neutral-11024 {
    background-position: -658px -986px;
}

.neutral-11025 {
    background-position: -822px -986px;
}

.neutral-11026 {
    background-position: -986px -986px;
}

.neutral-11027 {
    background-position: -1150px -986px;
}

.neutral-11028 {
    background-position: -1314px -986px;
}

.neutral-11029 {
    background-position: -1478px -986px;
}

.neutral-11030 {
    background-position: -1642px -986px;
}

.neutral-11031 {
    background-position: -1806px -986px;
}

.neutral-11032 {
    background-position: -2px -1150px;
}

.neutral-11033 {
    background-position: -166px -1150px;
}

.neutral-11034 {
    background-position: -330px -1150px;
}

.neutral-11035 {
    background-position: -494px -1150px;
}

.neutral-11036 {
    background-position: -658px -1150px;
}

.neutral-11037 {
    background-position: -822px -1150px;
}

.neutral-11038 {
    background-position: -986px -1150px;
}

.neutral-11039 {
    background-position: -1150px -1150px;
}

.neutral-11040 {
    background-position: -1314px -1150px;
}

.neutral-11041 {
    background-position: -1478px -1150px;
}

.neutral-11042 {
    background-position: -1642px -1150px;
}

.neutral-11043 {
    background-position: -1806px -1150px;
}

.neutral-11044 {
    background-position: -2px -1314px;
}

.neutral-11045 {
    background-position: -166px -1314px;
}

.neutral-11046 {
    background-position: -330px -1314px;
}

.neutral-11047 {
    background-position: -494px -1314px;
}

.neutral-11048 {
    background-position: -658px -1314px;
}

.neutral-11049 {
    background-position: -822px -1314px;
}

.neutral-11051 {
    background-position: -986px -1314px;
}

.neutral-11052 {
    background-position: -1150px -1314px;
}

.neutral-11053 {
    background-position: -1314px -1314px;
}

.neutral-11054 {
    background-position: -1478px -1314px;
}

.neutral-11055 {
    background-position: -1642px -1314px;
}

.neutral-11056 {
    background-position: -1806px -1314px;
}

.neutral-11057 {
    background-position: -2px -1478px;
}

.neutral-11058 {
    background-position: -166px -1478px;
}

.neutral-11059 {
    background-position: -330px -1478px;
}

.neutral-11060 {
    background-position: -494px -1478px;
}

.neutral-11061 {
    background-position: -658px -1478px;
}

.neutral-11063 {
    background-position: -822px -1478px;
}

.neutral-11064 {
    background-position: -986px -1478px;
}

.neutral-11066 {
    background-position: -1150px -1478px;
}

.neutral-11075 {
    background-position: -1314px -1478px;
}

.neutral-11076 {
    background-position: -1478px -1478px;
}

.neutral-11077 {
    background-position: -1642px -1478px;
}

.neutral-11078 {
    background-position: -1806px -1478px;
}

.neutral-11079 {
    background-position: -2px -1642px;
}

.neutral-11080 {
    background-position: -166px -1642px;
}

.neutral-11081 {
    background-position: -330px -1642px;
}

.neutral-11082 {
    background-position: -494px -1642px;
}

.neutral-133720 {
    background-position: -658px -1642px;
}

.neutral-133729 {
    background-position: -822px -1642px;
}

.neutral-133730 {
    background-position: -986px -1642px;
}

.neutral-133733 {
    background-position: -1150px -1642px;
}

.neutral-133740 {
    background-position: -1314px -1642px;
}

.neutral-19002 {
    background-position: -1478px -1642px;
}

.neutral-19003 {
    background-position: -1642px -1642px;
}

.neutral-19004 {
    background-position: -1806px -1642px;
}

.neutral-19005 {
    background-position: -2px -1806px;
}

.neutral-19006 {
    background-position: -166px -1806px;
}

.neutral-19010 {
    background-position: -330px -1806px;
}

.neutral-19025 {
    background-position: -494px -1806px;
}

.neutral-19026 {
    background-position: -658px -1806px;
}

.neutral-19027 {
    background-position: -822px -1806px;
}

.neutral-19028 {
    background-position: -986px -1806px;
}

.neutral-19029 {
    background-position: -1150px -1806px;
}

.neutral-19030 {
    background-position: -1314px -1806px;
}

.neutral-19031 {
    background-position: -1478px -1806px;
}

.neutral-19032 {
    background-position: -1642px -1806px;
}

.neutral-19033 {
    background-position: -1806px -1806px;
}

.neutral-19034 {
    background-position: -1970px -2px;
}

.neutral-19035 {
    background-position: -1970px -166px;
}

.neutral-19036 {
    background-position: -1970px -330px;
}

.neutral-19037 {
    background-position: -1970px -494px;
}

.neutral-19038 {
    background-position: -1970px -658px;
}

.neutral-19039 {
    background-position: -1970px -822px;
}

.neutral-19040 {
    background-position: -1970px -986px;
}

.neutral-19042 {
    background-position: -1970px -1150px;
}

.neutral-19043 {
    background-position: -1970px -1314px;
}

.neutral-19044 {
    background-position: -1970px -1478px;
}

.neutral-19045 {
    background-position: -1970px -1642px;
}

.neutral-19046 {
    background-position: -1970px -1806px;
}

.neutral-19047 {
    background-position: -2px -1970px;
}

.neutral-19049 {
    background-position: -166px -1970px;
}

.neutral-19050 {
    background-position: -330px -1970px;
}

.neutral-19051 {
    background-position: -494px -1970px;
}

.neutral-19052 {
    background-position: -658px -1970px;
}
