.neutral-sprite {
    background-image: url(assets/images//sprites_neutral.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.neutral-10001 {
    background-position: -5px -5px;
}

.neutral-10009 {
    background-position: -175px -5px;
}

.neutral-10012 {
    background-position: -345px -5px;
}

.neutral-10013 {
    background-position: -515px -5px;
}

.neutral-10014 {
    background-position: -685px -5px;
}

.neutral-10016 {
    background-position: -855px -5px;
}

.neutral-10017 {
    background-position: -1025px -5px;
}

.neutral-10018 {
    background-position: -1195px -5px;
}

.neutral-10019 {
    background-position: -1365px -5px;
}

.neutral-10020 {
    background-position: -1535px -5px;
}

.neutral-10021 {
    background-position: -1705px -5px;
}

.neutral-10022 {
    background-position: -1875px -5px;
}

.neutral-10204 {
    background-position: -5px -175px;
}

.neutral-10301 {
    background-position: -175px -175px;
}

.neutral-10302 {
    background-position: -345px -175px;
}

.neutral-10303 {
    background-position: -515px -175px;
}

.neutral-10304 {
    background-position: -685px -175px;
}

.neutral-10305 {
    background-position: -855px -175px;
}

.neutral-10306 {
    background-position: -1025px -175px;
}

.neutral-10307 {
    background-position: -1195px -175px;
}

.neutral-10953 {
    background-position: -1365px -175px;
}

.neutral-10954 {
    background-position: -1535px -175px;
}

.neutral-10955 {
    background-position: -1705px -175px;
}

.neutral-10956 {
    background-position: -1875px -175px;
}

.neutral-10957 {
    background-position: -5px -345px;
}

.neutral-10958 {
    background-position: -175px -345px;
}

.neutral-10959 {
    background-position: -345px -345px;
}

.neutral-10960 {
    background-position: -515px -345px;
}

.neutral-10961 {
    background-position: -685px -345px;
}

.neutral-10962 {
    background-position: -855px -345px;
}

.neutral-10963 {
    background-position: -1025px -345px;
}

.neutral-10965 {
    background-position: -1195px -345px;
}

.neutral-10966 {
    background-position: -1365px -345px;
}

.neutral-10973 {
    background-position: -1535px -345px;
}

.neutral-10974 {
    background-position: -1705px -345px;
}

.neutral-10975 {
    background-position: -1875px -345px;
}

.neutral-10976 {
    background-position: -5px -515px;
}

.neutral-10978 {
    background-position: -175px -515px;
}

.neutral-10979 {
    background-position: -345px -515px;
}

.neutral-10980 {
    background-position: -515px -515px;
}

.neutral-10981 {
    background-position: -685px -515px;
}

.neutral-10982 {
    background-position: -855px -515px;
}

.neutral-10983 {
    background-position: -1025px -515px;
}

.neutral-10984 {
    background-position: -1195px -515px;
}

.neutral-10985 {
    background-position: -1365px -515px;
}

.neutral-10986 {
    background-position: -1535px -515px;
}

.neutral-10987 {
    background-position: -1705px -515px;
}

.neutral-10988 {
    background-position: -1875px -515px;
}

.neutral-10989 {
    background-position: -5px -685px;
}

.neutral-10990 {
    background-position: -175px -685px;
}

.neutral-10991 {
    background-position: -345px -685px;
}

.neutral-10992 {
    background-position: -515px -685px;
}

.neutral-10993 {
    background-position: -685px -685px;
}

.neutral-10994 {
    background-position: -855px -685px;
}

.neutral-10995 {
    background-position: -1025px -685px;
}

.neutral-10996 {
    background-position: -1195px -685px;
}

.neutral-10997 {
    background-position: -1365px -685px;
}

.neutral-11001 {
    background-position: -1535px -685px;
}

.neutral-11004 {
    background-position: -1705px -685px;
}

.neutral-11006 {
    background-position: -1875px -685px;
}

.neutral-11007 {
    background-position: -5px -855px;
}

.neutral-11008 {
    background-position: -175px -855px;
}

.neutral-11009 {
    background-position: -345px -855px;
}

.neutral-11010 {
    background-position: -515px -855px;
}

.neutral-11011 {
    background-position: -685px -855px;
}

.neutral-11013 {
    background-position: -855px -855px;
}

.neutral-11014 {
    background-position: -1025px -855px;
}

.neutral-11015 {
    background-position: -1195px -855px;
}

.neutral-11016 {
    background-position: -1365px -855px;
}

.neutral-11017 {
    background-position: -1535px -855px;
}

.neutral-11018 {
    background-position: -1705px -855px;
}

.neutral-11019 {
    background-position: -1875px -855px;
}

.neutral-11020 {
    background-position: -5px -1025px;
}

.neutral-11021 {
    background-position: -175px -1025px;
}

.neutral-11022 {
    background-position: -345px -1025px;
}

.neutral-11023 {
    background-position: -515px -1025px;
}

.neutral-11024 {
    background-position: -685px -1025px;
}

.neutral-11025 {
    background-position: -855px -1025px;
}

.neutral-11026 {
    background-position: -1025px -1025px;
}

.neutral-11027 {
    background-position: -1195px -1025px;
}

.neutral-11028 {
    background-position: -1365px -1025px;
}

.neutral-11029 {
    background-position: -1535px -1025px;
}

.neutral-11030 {
    background-position: -1705px -1025px;
}

.neutral-11031 {
    background-position: -1875px -1025px;
}

.neutral-11032 {
    background-position: -5px -1195px;
}

.neutral-11033 {
    background-position: -175px -1195px;
}

.neutral-11034 {
    background-position: -345px -1195px;
}

.neutral-11035 {
    background-position: -515px -1195px;
}

.neutral-11036 {
    background-position: -685px -1195px;
}

.neutral-11037 {
    background-position: -855px -1195px;
}

.neutral-11038 {
    background-position: -1025px -1195px;
}

.neutral-11039 {
    background-position: -1195px -1195px;
}

.neutral-11040 {
    background-position: -1365px -1195px;
}

.neutral-11041 {
    background-position: -1535px -1195px;
}

.neutral-11042 {
    background-position: -1705px -1195px;
}

.neutral-11043 {
    background-position: -1875px -1195px;
}

.neutral-11044 {
    background-position: -5px -1365px;
}

.neutral-11045 {
    background-position: -175px -1365px;
}

.neutral-11046 {
    background-position: -345px -1365px;
}

.neutral-11047 {
    background-position: -515px -1365px;
}

.neutral-11048 {
    background-position: -685px -1365px;
}

.neutral-11049 {
    background-position: -855px -1365px;
}

.neutral-11051 {
    background-position: -1025px -1365px;
}

.neutral-11052 {
    background-position: -1195px -1365px;
}

.neutral-11053 {
    background-position: -1365px -1365px;
}

.neutral-11054 {
    background-position: -1535px -1365px;
}

.neutral-11055 {
    background-position: -1705px -1365px;
}

.neutral-11056 {
    background-position: -1875px -1365px;
}

.neutral-11057 {
    background-position: -5px -1535px;
}

.neutral-11058 {
    background-position: -175px -1535px;
}

.neutral-11059 {
    background-position: -345px -1535px;
}

.neutral-11060 {
    background-position: -515px -1535px;
}

.neutral-11061 {
    background-position: -685px -1535px;
}

.neutral-11063 {
    background-position: -855px -1535px;
}

.neutral-11064 {
    background-position: -1025px -1535px;
}

.neutral-11066 {
    background-position: -1195px -1535px;
}

.neutral-11075 {
    background-position: -1365px -1535px;
}

.neutral-11076 {
    background-position: -1535px -1535px;
}

.neutral-11077 {
    background-position: -1705px -1535px;
}

.neutral-11078 {
    background-position: -1875px -1535px;
}

.neutral-11079 {
    background-position: -5px -1705px;
}

.neutral-11080 {
    background-position: -175px -1705px;
}

.neutral-11081 {
    background-position: -345px -1705px;
}

.neutral-11082 {
    background-position: -515px -1705px;
}

.neutral-11083 {
    background-position: -685px -1705px;
}

.neutral-11084 {
    background-position: -855px -1705px;
}

.neutral-11085 {
    background-position: -1025px -1705px;
}

.neutral-11086 {
    background-position: -1195px -1705px;
}

.neutral-11087 {
    background-position: -1365px -1705px;
}

.neutral-11088 {
    background-position: -1535px -1705px;
}

.neutral-11089 {
    background-position: -1705px -1705px;
}

.neutral-133720 {
    background-position: -1875px -1705px;
}

.neutral-133729 {
    background-position: -5px -1875px;
}

.neutral-133730 {
    background-position: -175px -1875px;
}

.neutral-133733 {
    background-position: -345px -1875px;
}

.neutral-133740 {
    background-position: -515px -1875px;
}

.neutral-19002 {
    background-position: -685px -1875px;
}

.neutral-19003 {
    background-position: -855px -1875px;
}

.neutral-19004 {
    background-position: -1025px -1875px;
}

.neutral-19005 {
    background-position: -1195px -1875px;
}

.neutral-19006 {
    background-position: -1365px -1875px;
}

.neutral-19010 {
    background-position: -1535px -1875px;
}

.neutral-19025 {
    background-position: -1705px -1875px;
}

.neutral-19026 {
    background-position: -1875px -1875px;
}

.neutral-19027 {
    background-position: -2045px -5px;
}

.neutral-19028 {
    background-position: -2045px -175px;
}

.neutral-19029 {
    background-position: -2045px -345px;
}

.neutral-19030 {
    background-position: -2045px -515px;
}

.neutral-19031 {
    background-position: -2045px -685px;
}

.neutral-19032 {
    background-position: -2045px -855px;
}

.neutral-19033 {
    background-position: -2045px -1025px;
}

.neutral-19034 {
    background-position: -2045px -1195px;
}

.neutral-19035 {
    background-position: -2045px -1365px;
}

.neutral-19036 {
    background-position: -2045px -1535px;
}

.neutral-19037 {
    background-position: -2045px -1705px;
}

.neutral-19038 {
    background-position: -2045px -1875px;
}

.neutral-19039 {
    background-position: -5px -2045px;
}

.neutral-19040 {
    background-position: -175px -2045px;
}

.neutral-19042 {
    background-position: -345px -2045px;
}

.neutral-19043 {
    background-position: -515px -2045px;
}

.neutral-19044 {
    background-position: -685px -2045px;
}

.neutral-19045 {
    background-position: -855px -2045px;
}

.neutral-19046 {
    background-position: -1025px -2045px;
}

.neutral-19047 {
    background-position: -1195px -2045px;
}

.neutral-19049 {
    background-position: -1365px -2045px;
}

.neutral-19050 {
    background-position: -1535px -2045px;
}

.neutral-19051 {
    background-position: -1705px -2045px;
}

.neutral-19052 {
    background-position: -1875px -2045px;
}
