.songhai-sprite {
    background-image: url(assets/images//sprites_songhai.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.songhai-108 {
    background-position: -5px -5px;
}

.songhai-109 {
    background-position: -175px -5px;
}

.songhai-110 {
    background-position: -345px -5px;
}

.songhai-111 {
    background-position: -515px -5px;
}

.songhai-112 {
    background-position: -685px -5px;
}

.songhai-114 {
    background-position: -855px -5px;
}

.songhai-115 {
    background-position: -5px -175px;
}

.songhai-116 {
    background-position: -175px -175px;
}

.songhai-117 {
    background-position: -345px -175px;
}

.songhai-118 {
    background-position: -515px -175px;
}

.songhai-119 {
    background-position: -685px -175px;
}

.songhai-120 {
    background-position: -855px -175px;
}

.songhai-121 {
    background-position: -5px -345px;
}

.songhai-122 {
    background-position: -175px -345px;
}

.songhai-124 {
    background-position: -345px -345px;
}

.songhai-125 {
    background-position: -515px -345px;
}

.songhai-126 {
    background-position: -685px -345px;
}

.songhai-127 {
    background-position: -855px -345px;
}

.songhai-128 {
    background-position: -5px -515px;
}

.songhai-129 {
    background-position: -175px -515px;
}

.songhai-130 {
    background-position: -345px -515px;
}

.songhai-131 {
    background-position: -515px -515px;
}

.songhai-132 {
    background-position: -685px -515px;
}

.songhai-133 {
    background-position: -855px -515px;
}

.songhai-134 {
    background-position: -5px -685px;
}

.songhai-20080 {
    background-position: -175px -685px;
}

.songhai-20081 {
    background-position: -281px -685px;
}

.songhai-20082 {
    background-position: -387px -685px;
}

.songhai-20084 {
    background-position: -493px -685px;
}

.songhai-20085 {
    background-position: -599px -685px;
}

.songhai-20086 {
    background-position: -705px -685px;
}

.songhai-20087 {
    background-position: -811px -685px;
}

.songhai-20088 {
    background-position: -917px -685px;
}

.songhai-20094 {
    background-position: -175px -791px;
}

.songhai-20100 {
    background-position: -281px -791px;
}

.songhai-20102 {
    background-position: -387px -791px;
}

.songhai-20106 {
    background-position: -493px -791px;
}

.songhai-20129 {
    background-position: -599px -791px;
}

.songhai-20141 {
    background-position: -705px -791px;
}

.songhai-20143 {
    background-position: -811px -791px;
}

.songhai-20155 {
    background-position: -917px -791px;
}

.songhai-20167 {
    background-position: -5px -897px;
}

.songhai-20168 {
    background-position: -111px -897px;
}

.songhai-20191 {
    background-position: -217px -897px;
}

.songhai-20192 {
    background-position: -323px -897px;
}

.songhai-20193 {
    background-position: -429px -897px;
}

.songhai-20194 {
    background-position: -535px -897px;
}

.songhai-20217 {
    background-position: -641px -897px;
}

.songhai-20231 {
    background-position: -747px -897px;
}

.songhai-20240 {
    background-position: -853px -897px;
}

.songhai-20241 {
    background-position: -1025px -5px;
}

.songhai-30007 {
    background-position: -1025px -111px;
}

.songhai-30009 {
    background-position: -1025px -217px;
}

.songhai-30010 {
    background-position: -1025px -323px;
}

.songhai-30023 {
    background-position: -1025px -429px;
}
