.sprite-1 { background-image: url(assets/sprites/1.gif); }
.sprite-10 { background-image: url(assets/sprites/10.gif); }
.sprite-10001 { background-image: url(assets/sprites/10001.gif); }
.sprite-10009 { background-image: url(assets/sprites/10009.gif); }
.sprite-10012 { background-image: url(assets/sprites/10012.gif); }
.sprite-10013 { background-image: url(assets/sprites/10013.gif); }
.sprite-10014 { background-image: url(assets/sprites/10014.gif); }
.sprite-10016 { background-image: url(assets/sprites/10016.gif); }
.sprite-10017 { background-image: url(assets/sprites/10017.gif); }
.sprite-10018 { background-image: url(assets/sprites/10018.gif); }
.sprite-10019 { background-image: url(assets/sprites/10019.gif); }
.sprite-10020 { background-image: url(assets/sprites/10020.gif); }
.sprite-10021 { background-image: url(assets/sprites/10021.gif); }
.sprite-10022 { background-image: url(assets/sprites/10022.gif); }
.sprite-101 { background-image: url(assets/sprites/101.gif); }
.sprite-10204 { background-image: url(assets/sprites/10204.gif); }
.sprite-10205 { background-image: url(assets/sprites/10205.gif); }
.sprite-10206 { background-image: url(assets/sprites/10206.gif); }
.sprite-10207 { background-image: url(assets/sprites/10207.gif); }
.sprite-10301 { background-image: url(assets/sprites/10301.gif); }
.sprite-10302 { background-image: url(assets/sprites/10302.gif); }
.sprite-10303 { background-image: url(assets/sprites/10303.gif); }
.sprite-10304 { background-image: url(assets/sprites/10304.gif); }
.sprite-10305 { background-image: url(assets/sprites/10305.gif); }
.sprite-10306 { background-image: url(assets/sprites/10306.gif); }
.sprite-10307 { background-image: url(assets/sprites/10307.gif); }
.sprite-108 { background-image: url(assets/sprites/108.gif); }
.sprite-109 { background-image: url(assets/sprites/109.gif); }
.sprite-10953 { background-image: url(assets/sprites/10953.gif); }
.sprite-10954 { background-image: url(assets/sprites/10954.gif); }
.sprite-10955 { background-image: url(assets/sprites/10955.gif); }
.sprite-10956 { background-image: url(assets/sprites/10956.gif); }
.sprite-10957 { background-image: url(assets/sprites/10957.gif); }
.sprite-10958 { background-image: url(assets/sprites/10958.gif); }
.sprite-10959 { background-image: url(assets/sprites/10959.gif); }
.sprite-10960 { background-image: url(assets/sprites/10960.gif); }
.sprite-10961 { background-image: url(assets/sprites/10961.gif); }
.sprite-10962 { background-image: url(assets/sprites/10962.gif); }
.sprite-10963 { background-image: url(assets/sprites/10963.gif); }
.sprite-10965 { background-image: url(assets/sprites/10965.gif); }
.sprite-10966 { background-image: url(assets/sprites/10966.gif); }
.sprite-10973 { background-image: url(assets/sprites/10973.gif); }
.sprite-10974 { background-image: url(assets/sprites/10974.gif); }
.sprite-10975 { background-image: url(assets/sprites/10975.gif); }
.sprite-10976 { background-image: url(assets/sprites/10976.gif); }
.sprite-10978 { background-image: url(assets/sprites/10978.gif); }
.sprite-10979 { background-image: url(assets/sprites/10979.gif); }
.sprite-10980 { background-image: url(assets/sprites/10980.gif); }
.sprite-10981 { background-image: url(assets/sprites/10981.gif); }
.sprite-10982 { background-image: url(assets/sprites/10982.gif); }
.sprite-10983 { background-image: url(assets/sprites/10983.gif); }
.sprite-10984 { background-image: url(assets/sprites/10984.gif); }
.sprite-10985 { background-image: url(assets/sprites/10985.gif); }
.sprite-10986 { background-image: url(assets/sprites/10986.gif); }
.sprite-10987 { background-image: url(assets/sprites/10987.gif); }
.sprite-10988 { background-image: url(assets/sprites/10988.gif); }
.sprite-10989 { background-image: url(assets/sprites/10989.gif); }
.sprite-10990 { background-image: url(assets/sprites/10990.gif); }
.sprite-10991 { background-image: url(assets/sprites/10991.gif); }
.sprite-10992 { background-image: url(assets/sprites/10992.gif); }
.sprite-10993 { background-image: url(assets/sprites/10993.gif); }
.sprite-10994 { background-image: url(assets/sprites/10994.gif); }
.sprite-10995 { background-image: url(assets/sprites/10995.gif); }
.sprite-10996 { background-image: url(assets/sprites/10996.gif); }
.sprite-10997 { background-image: url(assets/sprites/10997.gif); }
.sprite-11 { background-image: url(assets/sprites/11.gif); }
.sprite-110 { background-image: url(assets/sprites/110.gif); }
.sprite-11001 { background-image: url(assets/sprites/11001.gif); }
.sprite-11004 { background-image: url(assets/sprites/11004.gif); }
.sprite-11006 { background-image: url(assets/sprites/11006.gif); }
.sprite-11007 { background-image: url(assets/sprites/11007.gif); }
.sprite-11008 { background-image: url(assets/sprites/11008.gif); }
.sprite-11009 { background-image: url(assets/sprites/11009.gif); }
.sprite-11010 { background-image: url(assets/sprites/11010.gif); }
.sprite-11011 { background-image: url(assets/sprites/11011.gif); }
.sprite-11013 { background-image: url(assets/sprites/11013.gif); }
.sprite-11014 { background-image: url(assets/sprites/11014.gif); }
.sprite-11015 { background-image: url(assets/sprites/11015.gif); }
.sprite-11016 { background-image: url(assets/sprites/11016.gif); }
.sprite-11017 { background-image: url(assets/sprites/11017.gif); }
.sprite-11018 { background-image: url(assets/sprites/11018.gif); }
.sprite-11019 { background-image: url(assets/sprites/11019.gif); }
.sprite-11020 { background-image: url(assets/sprites/11020.gif); }
.sprite-11021 { background-image: url(assets/sprites/11021.gif); }
.sprite-11022 { background-image: url(assets/sprites/11022.gif); }
.sprite-11023 { background-image: url(assets/sprites/11023.gif); }
.sprite-11024 { background-image: url(assets/sprites/11024.gif); }
.sprite-11025 { background-image: url(assets/sprites/11025.gif); }
.sprite-11026 { background-image: url(assets/sprites/11026.gif); }
.sprite-11027 { background-image: url(assets/sprites/11027.gif); }
.sprite-11028 { background-image: url(assets/sprites/11028.gif); }
.sprite-11029 { background-image: url(assets/sprites/11029.gif); }
.sprite-11030 { background-image: url(assets/sprites/11030.gif); }
.sprite-11031 { background-image: url(assets/sprites/11031.gif); }
.sprite-11032 { background-image: url(assets/sprites/11032.gif); }
.sprite-11033 { background-image: url(assets/sprites/11033.gif); }
.sprite-11034 { background-image: url(assets/sprites/11034.gif); }
.sprite-11035 { background-image: url(assets/sprites/11035.gif); }
.sprite-11036 { background-image: url(assets/sprites/11036.gif); }
.sprite-11037 { background-image: url(assets/sprites/11037.gif); }
.sprite-11038 { background-image: url(assets/sprites/11038.gif); }
.sprite-11039 { background-image: url(assets/sprites/11039.gif); }
.sprite-11040 { background-image: url(assets/sprites/11040.gif); }
.sprite-11041 { background-image: url(assets/sprites/11041.gif); }
.sprite-11042 { background-image: url(assets/sprites/11042.gif); }
.sprite-11043 { background-image: url(assets/sprites/11043.gif); }
.sprite-11044 { background-image: url(assets/sprites/11044.gif); }
.sprite-11045 { background-image: url(assets/sprites/11045.gif); }
.sprite-11046 { background-image: url(assets/sprites/11046.gif); }
.sprite-11047 { background-image: url(assets/sprites/11047.gif); }
.sprite-11048 { background-image: url(assets/sprites/11048.gif); }
.sprite-11049 { background-image: url(assets/sprites/11049.gif); }
.sprite-11051 { background-image: url(assets/sprites/11051.gif); }
.sprite-11052 { background-image: url(assets/sprites/11052.gif); }
.sprite-11053 { background-image: url(assets/sprites/11053.gif); }
.sprite-11054 { background-image: url(assets/sprites/11054.gif); }
.sprite-11055 { background-image: url(assets/sprites/11055.gif); }
.sprite-11056 { background-image: url(assets/sprites/11056.gif); }
.sprite-11057 { background-image: url(assets/sprites/11057.gif); }
.sprite-11058 { background-image: url(assets/sprites/11058.gif); }
.sprite-11059 { background-image: url(assets/sprites/11059.gif); }
.sprite-11060 { background-image: url(assets/sprites/11060.gif); }
.sprite-11061 { background-image: url(assets/sprites/11061.gif); }
.sprite-11063 { background-image: url(assets/sprites/11063.gif); }
.sprite-11064 { background-image: url(assets/sprites/11064.gif); }
.sprite-11066 { background-image: url(assets/sprites/11066.gif); }
.sprite-11075 { background-image: url(assets/sprites/11075.gif); }
.sprite-11076 { background-image: url(assets/sprites/11076.gif); }
.sprite-11077 { background-image: url(assets/sprites/11077.gif); }
.sprite-11078 { background-image: url(assets/sprites/11078.gif); }
.sprite-11079 { background-image: url(assets/sprites/11079.gif); }
.sprite-11080 { background-image: url(assets/sprites/11080.gif); }
.sprite-11081 { background-image: url(assets/sprites/11081.gif); }
.sprite-11082 { background-image: url(assets/sprites/11082.gif); }
.sprite-11083 { background-image: url(assets/sprites/11083.gif); }
.sprite-11084 { background-image: url(assets/sprites/11084.gif); }
.sprite-11085 { background-image: url(assets/sprites/11085.gif); }
.sprite-11086 { background-image: url(assets/sprites/11086.gif); }
.sprite-11087 { background-image: url(assets/sprites/11087.gif); }
.sprite-11088 { background-image: url(assets/sprites/11088.gif); }
.sprite-11089 { background-image: url(assets/sprites/11089.gif); }
.sprite-11090 { background-image: url(assets/sprites/11090.gif); }
.sprite-11091 { background-image: url(assets/sprites/11091.gif); }
.sprite-11092 { background-image: url(assets/sprites/11092.gif); }
.sprite-11093 { background-image: url(assets/sprites/11093.gif); }
.sprite-11094 { background-image: url(assets/sprites/11094.gif); }
.sprite-11095 { background-image: url(assets/sprites/11095.gif); }
.sprite-11096 { background-image: url(assets/sprites/11096.gif); }
.sprite-11097 { background-image: url(assets/sprites/11097.gif); }
.sprite-11098 { background-image: url(assets/sprites/11098.gif); }
.sprite-111 { background-image: url(assets/sprites/111.gif); }
.sprite-11102 { background-image: url(assets/sprites/11102.gif); }
.sprite-11103 { background-image: url(assets/sprites/11103.gif); }
.sprite-11104 { background-image: url(assets/sprites/11104.gif); }
.sprite-11105 { background-image: url(assets/sprites/11105.gif); }
.sprite-11106 { background-image: url(assets/sprites/11106.gif); }
.sprite-11107 { background-image: url(assets/sprites/11107.gif); }
.sprite-11108 { background-image: url(assets/sprites/11108.gif); }
.sprite-11109 { background-image: url(assets/sprites/11109.gif); }
.sprite-11110 { background-image: url(assets/sprites/11110.gif); }
.sprite-11111 { background-image: url(assets/sprites/11111.gif); }
.sprite-11112 { background-image: url(assets/sprites/11112.gif); }
.sprite-11114 { background-image: url(assets/sprites/11114.gif); }
.sprite-11115 { background-image: url(assets/sprites/11115.gif); }
.sprite-11116 { background-image: url(assets/sprites/11116.gif); }
.sprite-11121 { background-image: url(assets/sprites/11121.gif); }
.sprite-11122 { background-image: url(assets/sprites/11122.gif); }
.sprite-11123 { background-image: url(assets/sprites/11123.gif); }
.sprite-11124 { background-image: url(assets/sprites/11124.gif); }
.sprite-11125 { background-image: url(assets/sprites/11125.gif); }
.sprite-11126 { background-image: url(assets/sprites/11126.gif); }
.sprite-11127 { background-image: url(assets/sprites/11127.gif); }
.sprite-11128 { background-image: url(assets/sprites/11128.gif); }
.sprite-11129 { background-image: url(assets/sprites/11129.gif); }
.sprite-11131 { background-image: url(assets/sprites/11131.gif); }
.sprite-11132 { background-image: url(assets/sprites/11132.gif); }
.sprite-11133 { background-image: url(assets/sprites/11133.gif); }
.sprite-11134 { background-image: url(assets/sprites/11134.gif); }
.sprite-11135 { background-image: url(assets/sprites/11135.gif); }
.sprite-11136 { background-image: url(assets/sprites/11136.gif); }
.sprite-11137 { background-image: url(assets/sprites/11137.gif); }
.sprite-11138 { background-image: url(assets/sprites/11138.gif); }
.sprite-11139 { background-image: url(assets/sprites/11139.gif); }
.sprite-112 { background-image: url(assets/sprites/112.gif); }
.sprite-114 { background-image: url(assets/sprites/114.gif); }
.sprite-115 { background-image: url(assets/sprites/115.gif); }
.sprite-116 { background-image: url(assets/sprites/116.gif); }
.sprite-117 { background-image: url(assets/sprites/117.gif); }
.sprite-118 { background-image: url(assets/sprites/118.gif); }
.sprite-119 { background-image: url(assets/sprites/119.gif); }
.sprite-12 { background-image: url(assets/sprites/12.gif); }
.sprite-120 { background-image: url(assets/sprites/120.gif); }
.sprite-121 { background-image: url(assets/sprites/121.gif); }
.sprite-122 { background-image: url(assets/sprites/122.gif); }
.sprite-123 { background-image: url(assets/sprites/123.gif); }
.sprite-124 { background-image: url(assets/sprites/124.gif); }
.sprite-125 { background-image: url(assets/sprites/125.gif); }
.sprite-126 { background-image: url(assets/sprites/126.gif); }
.sprite-127 { background-image: url(assets/sprites/127.gif); }
.sprite-128 { background-image: url(assets/sprites/128.gif); }
.sprite-129 { background-image: url(assets/sprites/129.gif); }
.sprite-13 { background-image: url(assets/sprites/13.gif); }
.sprite-130 { background-image: url(assets/sprites/130.gif); }
.sprite-131 { background-image: url(assets/sprites/131.gif); }
.sprite-132 { background-image: url(assets/sprites/132.gif); }
.sprite-133 { background-image: url(assets/sprites/133.gif); }
.sprite-134 { background-image: url(assets/sprites/134.gif); }
.sprite-135 { background-image: url(assets/sprites/135.gif); }
.sprite-136 { background-image: url(assets/sprites/136.gif); }
.sprite-137 { background-image: url(assets/sprites/137.gif); }
.sprite-138 { background-image: url(assets/sprites/138.gif); }
.sprite-139 { background-image: url(assets/sprites/139.gif); }
.sprite-14 { background-image: url(assets/sprites/14.gif); }
.sprite-140 { background-image: url(assets/sprites/140.gif); }
.sprite-142 { background-image: url(assets/sprites/142.gif); }
.sprite-143 { background-image: url(assets/sprites/143.gif); }
.sprite-144 { background-image: url(assets/sprites/144.gif); }
.sprite-145 { background-image: url(assets/sprites/145.gif); }
.sprite-146 { background-image: url(assets/sprites/146.gif); }
.sprite-148 { background-image: url(assets/sprites/148.gif); }
.sprite-149 { background-image: url(assets/sprites/149.gif); }
.sprite-15 { background-image: url(assets/sprites/15.gif); }
.sprite-150 { background-image: url(assets/sprites/150.gif); }
.sprite-151 { background-image: url(assets/sprites/151.gif); }
.sprite-152 { background-image: url(assets/sprites/152.gif); }
.sprite-16 { background-image: url(assets/sprites/16.gif); }
.sprite-17 { background-image: url(assets/sprites/17.gif); }
.sprite-18 { background-image: url(assets/sprites/18.gif); }
.sprite-19002 { background-image: url(assets/sprites/19002.gif); }
.sprite-19003 { background-image: url(assets/sprites/19003.gif); }
.sprite-19004 { background-image: url(assets/sprites/19004.gif); }
.sprite-19005 { background-image: url(assets/sprites/19005.gif); }
.sprite-19006 { background-image: url(assets/sprites/19006.gif); }
.sprite-19010 { background-image: url(assets/sprites/19010.gif); }
.sprite-19025 { background-image: url(assets/sprites/19025.gif); }
.sprite-19026 { background-image: url(assets/sprites/19026.gif); }
.sprite-19027 { background-image: url(assets/sprites/19027.gif); }
.sprite-19028 { background-image: url(assets/sprites/19028.gif); }
.sprite-19029 { background-image: url(assets/sprites/19029.gif); }
.sprite-19030 { background-image: url(assets/sprites/19030.gif); }
.sprite-19031 { background-image: url(assets/sprites/19031.gif); }
.sprite-19032 { background-image: url(assets/sprites/19032.gif); }
.sprite-19033 { background-image: url(assets/sprites/19033.gif); }
.sprite-19034 { background-image: url(assets/sprites/19034.gif); }
.sprite-19035 { background-image: url(assets/sprites/19035.gif); }
.sprite-19036 { background-image: url(assets/sprites/19036.gif); }
.sprite-19037 { background-image: url(assets/sprites/19037.gif); }
.sprite-19038 { background-image: url(assets/sprites/19038.gif); }
.sprite-19039 { background-image: url(assets/sprites/19039.gif); }
.sprite-19040 { background-image: url(assets/sprites/19040.gif); }
.sprite-19042 { background-image: url(assets/sprites/19042.gif); }
.sprite-19043 { background-image: url(assets/sprites/19043.gif); }
.sprite-19044 { background-image: url(assets/sprites/19044.gif); }
.sprite-19045 { background-image: url(assets/sprites/19045.gif); }
.sprite-19046 { background-image: url(assets/sprites/19046.gif); }
.sprite-19047 { background-image: url(assets/sprites/19047.gif); }
.sprite-19048 { background-image: url(assets/sprites/19048.gif); }
.sprite-19049 { background-image: url(assets/sprites/19049.gif); }
.sprite-19050 { background-image: url(assets/sprites/19050.gif); }
.sprite-19051 { background-image: url(assets/sprites/19051.gif); }
.sprite-19052 { background-image: url(assets/sprites/19052.gif); }
.sprite-20 { background-image: url(assets/sprites/20.gif); }
.sprite-20028 { background-image: url(assets/sprites/20028.gif); }
.sprite-20043 { background-image: url(assets/sprites/20043.gif); }
.sprite-20044 { background-image: url(assets/sprites/20044.gif); }
.sprite-20045 { background-image: url(assets/sprites/20045.gif); }
.sprite-20046 { background-image: url(assets/sprites/20046.gif); }
.sprite-20047 { background-image: url(assets/sprites/20047.gif); }
.sprite-20049 { background-image: url(assets/sprites/20049.gif); }
.sprite-20050 { background-image: url(assets/sprites/20050.gif); }
.sprite-20051 { background-image: url(assets/sprites/20051.gif); }
.sprite-20052 { background-image: url(assets/sprites/20052.gif); }
.sprite-20057 { background-image: url(assets/sprites/20057.gif); }
.sprite-20059 { background-image: url(assets/sprites/20059.gif); }
.sprite-20061 { background-image: url(assets/sprites/20061.gif); }
.sprite-20062 { background-image: url(assets/sprites/20062.gif); }
.sprite-20063 { background-image: url(assets/sprites/20063.gif); }
.sprite-20064 { background-image: url(assets/sprites/20064.gif); }
.sprite-20065 { background-image: url(assets/sprites/20065.gif); }
.sprite-20066 { background-image: url(assets/sprites/20066.gif); }
.sprite-20067 { background-image: url(assets/sprites/20067.gif); }
.sprite-20068 { background-image: url(assets/sprites/20068.gif); }
.sprite-20069 { background-image: url(assets/sprites/20069.gif); }
.sprite-20070 { background-image: url(assets/sprites/20070.gif); }
.sprite-20071 { background-image: url(assets/sprites/20071.gif); }
.sprite-20072 { background-image: url(assets/sprites/20072.gif); }
.sprite-20073 { background-image: url(assets/sprites/20073.gif); }
.sprite-20074 { background-image: url(assets/sprites/20074.gif); }
.sprite-20075 { background-image: url(assets/sprites/20075.gif); }
.sprite-20076 { background-image: url(assets/sprites/20076.gif); }
.sprite-20077 { background-image: url(assets/sprites/20077.gif); }
.sprite-20078 { background-image: url(assets/sprites/20078.gif); }
.sprite-20080 { background-image: url(assets/sprites/20080.gif); }
.sprite-20081 { background-image: url(assets/sprites/20081.gif); }
.sprite-20082 { background-image: url(assets/sprites/20082.gif); }
.sprite-20084 { background-image: url(assets/sprites/20084.gif); }
.sprite-20085 { background-image: url(assets/sprites/20085.gif); }
.sprite-20086 { background-image: url(assets/sprites/20086.gif); }
.sprite-20087 { background-image: url(assets/sprites/20087.gif); }
.sprite-20088 { background-image: url(assets/sprites/20088.gif); }
.sprite-20089 { background-image: url(assets/sprites/20089.gif); }
.sprite-20090 { background-image: url(assets/sprites/20090.gif); }
.sprite-20093 { background-image: url(assets/sprites/20093.gif); }
.sprite-20094 { background-image: url(assets/sprites/20094.gif); }
.sprite-20095 { background-image: url(assets/sprites/20095.gif); }
.sprite-20096 { background-image: url(assets/sprites/20096.gif); }
.sprite-20097 { background-image: url(assets/sprites/20097.gif); }
.sprite-20099 { background-image: url(assets/sprites/20099.gif); }
.sprite-201 { background-image: url(assets/sprites/201.gif); }
.sprite-20100 { background-image: url(assets/sprites/20100.gif); }
.sprite-20102 { background-image: url(assets/sprites/20102.gif); }
.sprite-20104 { background-image: url(assets/sprites/20104.gif); }
.sprite-20105 { background-image: url(assets/sprites/20105.gif); }
.sprite-20106 { background-image: url(assets/sprites/20106.gif); }
.sprite-20109 { background-image: url(assets/sprites/20109.gif); }
.sprite-20111 { background-image: url(assets/sprites/20111.gif); }
.sprite-20112 { background-image: url(assets/sprites/20112.gif); }
.sprite-20113 { background-image: url(assets/sprites/20113.gif); }
.sprite-20114 { background-image: url(assets/sprites/20114.gif); }
.sprite-20115 { background-image: url(assets/sprites/20115.gif); }
.sprite-20116 { background-image: url(assets/sprites/20116.gif); }
.sprite-20117 { background-image: url(assets/sprites/20117.gif); }
.sprite-20118 { background-image: url(assets/sprites/20118.gif); }
.sprite-20119 { background-image: url(assets/sprites/20119.gif); }
.sprite-20120 { background-image: url(assets/sprites/20120.gif); }
.sprite-20121 { background-image: url(assets/sprites/20121.gif); }
.sprite-20122 { background-image: url(assets/sprites/20122.gif); }
.sprite-20124 { background-image: url(assets/sprites/20124.gif); }
.sprite-20125 { background-image: url(assets/sprites/20125.gif); }
.sprite-20128 { background-image: url(assets/sprites/20128.gif); }
.sprite-20129 { background-image: url(assets/sprites/20129.gif); }
.sprite-20131 { background-image: url(assets/sprites/20131.gif); }
.sprite-20132 { background-image: url(assets/sprites/20132.gif); }
.sprite-20133 { background-image: url(assets/sprites/20133.gif); }
.sprite-20134 { background-image: url(assets/sprites/20134.gif); }
.sprite-20135 { background-image: url(assets/sprites/20135.gif); }
.sprite-20136 { background-image: url(assets/sprites/20136.gif); }
.sprite-20137 { background-image: url(assets/sprites/20137.gif); }
.sprite-20138 { background-image: url(assets/sprites/20138.gif); }
.sprite-20139 { background-image: url(assets/sprites/20139.gif); }
.sprite-20140 { background-image: url(assets/sprites/20140.gif); }
.sprite-20143 { background-image: url(assets/sprites/20143.gif); }
.sprite-20144 { background-image: url(assets/sprites/20144.gif); }
.sprite-20145 { background-image: url(assets/sprites/20145.gif); }
.sprite-20146 { background-image: url(assets/sprites/20146.gif); }
.sprite-20147 { background-image: url(assets/sprites/20147.gif); }
.sprite-20148 { background-image: url(assets/sprites/20148.gif); }
.sprite-20149 { background-image: url(assets/sprites/20149.gif); }
.sprite-20150 { background-image: url(assets/sprites/20150.gif); }
.sprite-20151 { background-image: url(assets/sprites/20151.gif); }
.sprite-20152 { background-image: url(assets/sprites/20152.gif); }
.sprite-20153 { background-image: url(assets/sprites/20153.gif); }
.sprite-20154 { background-image: url(assets/sprites/20154.gif); }
.sprite-20155 { background-image: url(assets/sprites/20155.gif); }
.sprite-20156 { background-image: url(assets/sprites/20156.gif); }
.sprite-20157 { background-image: url(assets/sprites/20157.gif); }
.sprite-20158 { background-image: url(assets/sprites/20158.gif); }
.sprite-20160 { background-image: url(assets/sprites/20160.gif); }
.sprite-20161 { background-image: url(assets/sprites/20161.gif); }
.sprite-20162 { background-image: url(assets/sprites/20162.gif); }
.sprite-20163 { background-image: url(assets/sprites/20163.gif); }
.sprite-20165 { background-image: url(assets/sprites/20165.gif); }
.sprite-20166 { background-image: url(assets/sprites/20166.gif); }
.sprite-20167 { background-image: url(assets/sprites/20167.gif); }
.sprite-20168 { background-image: url(assets/sprites/20168.gif); }
.sprite-20186 { background-image: url(assets/sprites/20186.gif); }
.sprite-20187 { background-image: url(assets/sprites/20187.gif); }
.sprite-20188 { background-image: url(assets/sprites/20188.gif); }
.sprite-20189 { background-image: url(assets/sprites/20189.gif); }
.sprite-20190 { background-image: url(assets/sprites/20190.gif); }
.sprite-20191 { background-image: url(assets/sprites/20191.gif); }
.sprite-20192 { background-image: url(assets/sprites/20192.gif); }
.sprite-20193 { background-image: url(assets/sprites/20193.gif); }
.sprite-20194 { background-image: url(assets/sprites/20194.gif); }
.sprite-20195 { background-image: url(assets/sprites/20195.gif); }
.sprite-20196 { background-image: url(assets/sprites/20196.gif); }
.sprite-20197 { background-image: url(assets/sprites/20197.gif); }
.sprite-20198 { background-image: url(assets/sprites/20198.gif); }
.sprite-20199 { background-image: url(assets/sprites/20199.gif); }
.sprite-20200 { background-image: url(assets/sprites/20200.gif); }
.sprite-20201 { background-image: url(assets/sprites/20201.gif); }
.sprite-20202 { background-image: url(assets/sprites/20202.gif); }
.sprite-20203 { background-image: url(assets/sprites/20203.gif); }
.sprite-20204 { background-image: url(assets/sprites/20204.gif); }
.sprite-20205 { background-image: url(assets/sprites/20205.gif); }
.sprite-20206 { background-image: url(assets/sprites/20206.gif); }
.sprite-20207 { background-image: url(assets/sprites/20207.gif); }
.sprite-20208 { background-image: url(assets/sprites/20208.gif); }
.sprite-20209 { background-image: url(assets/sprites/20209.gif); }
.sprite-20211 { background-image: url(assets/sprites/20211.gif); }
.sprite-20212 { background-image: url(assets/sprites/20212.gif); }
.sprite-20213 { background-image: url(assets/sprites/20213.gif); }
.sprite-20214 { background-image: url(assets/sprites/20214.gif); }
.sprite-20216 { background-image: url(assets/sprites/20216.gif); }
.sprite-20217 { background-image: url(assets/sprites/20217.gif); }
.sprite-20218 { background-image: url(assets/sprites/20218.gif); }
.sprite-20219 { background-image: url(assets/sprites/20219.gif); }
.sprite-20220 { background-image: url(assets/sprites/20220.gif); }
.sprite-20225 { background-image: url(assets/sprites/20225.gif); }
.sprite-20226 { background-image: url(assets/sprites/20226.gif); }
.sprite-20227 { background-image: url(assets/sprites/20227.gif); }
.sprite-20228 { background-image: url(assets/sprites/20228.gif); }
.sprite-20229 { background-image: url(assets/sprites/20229.gif); }
.sprite-20231 { background-image: url(assets/sprites/20231.gif); }
.sprite-20232 { background-image: url(assets/sprites/20232.gif); }
.sprite-20233 { background-image: url(assets/sprites/20233.gif); }
.sprite-20234 { background-image: url(assets/sprites/20234.gif); }
.sprite-20235 { background-image: url(assets/sprites/20235.gif); }
.sprite-20237 { background-image: url(assets/sprites/20237.gif); }
.sprite-20240 { background-image: url(assets/sprites/20240.gif); }
.sprite-20241 { background-image: url(assets/sprites/20241.gif); }
.sprite-20242 { background-image: url(assets/sprites/20242.gif); }
.sprite-20243 { background-image: url(assets/sprites/20243.gif); }
.sprite-20244 { background-image: url(assets/sprites/20244.gif); }
.sprite-20245 { background-image: url(assets/sprites/20245.gif); }
.sprite-20246 { background-image: url(assets/sprites/20246.gif); }
.sprite-20249 { background-image: url(assets/sprites/20249.gif); }
.sprite-20254 { background-image: url(assets/sprites/20254.gif); }
.sprite-20255 { background-image: url(assets/sprites/20255.gif); }
.sprite-20256 { background-image: url(assets/sprites/20256.gif); }
.sprite-20257 { background-image: url(assets/sprites/20257.gif); }
.sprite-20258 { background-image: url(assets/sprites/20258.gif); }
.sprite-20261 { background-image: url(assets/sprites/20261.gif); }
.sprite-20262 { background-image: url(assets/sprites/20262.gif); }
.sprite-20264 { background-image: url(assets/sprites/20264.gif); }
.sprite-20265 { background-image: url(assets/sprites/20265.gif); }
.sprite-20266 { background-image: url(assets/sprites/20266.gif); }
.sprite-20267 { background-image: url(assets/sprites/20267.gif); }
.sprite-20268 { background-image: url(assets/sprites/20268.gif); }
.sprite-20269 { background-image: url(assets/sprites/20269.gif); }
.sprite-20271 { background-image: url(assets/sprites/20271.gif); }
.sprite-20272 { background-image: url(assets/sprites/20272.gif); }
.sprite-20273 { background-image: url(assets/sprites/20273.gif); }
.sprite-20274 { background-image: url(assets/sprites/20274.gif); }
.sprite-20275 { background-image: url(assets/sprites/20275.gif); }
.sprite-20276 { background-image: url(assets/sprites/20276.gif); }
.sprite-20279 { background-image: url(assets/sprites/20279.gif); }
.sprite-20280 { background-image: url(assets/sprites/20280.gif); }
.sprite-20281 { background-image: url(assets/sprites/20281.gif); }
.sprite-20282 { background-image: url(assets/sprites/20282.gif); }
.sprite-20283 { background-image: url(assets/sprites/20283.gif); }
.sprite-20284 { background-image: url(assets/sprites/20284.gif); }
.sprite-20285 { background-image: url(assets/sprites/20285.gif); }
.sprite-20286 { background-image: url(assets/sprites/20286.gif); }
.sprite-20287 { background-image: url(assets/sprites/20287.gif); }
.sprite-20288 { background-image: url(assets/sprites/20288.gif); }
.sprite-20289 { background-image: url(assets/sprites/20289.gif); }
.sprite-20290 { background-image: url(assets/sprites/20290.gif); }
.sprite-20291 { background-image: url(assets/sprites/20291.gif); }
.sprite-20292 { background-image: url(assets/sprites/20292.gif); }
.sprite-20293 { background-image: url(assets/sprites/20293.gif); }
.sprite-20294 { background-image: url(assets/sprites/20294.gif); }
.sprite-20295 { background-image: url(assets/sprites/20295.gif); }
.sprite-20296 { background-image: url(assets/sprites/20296.gif); }
.sprite-20297 { background-image: url(assets/sprites/20297.gif); }
.sprite-20298 { background-image: url(assets/sprites/20298.gif); }
.sprite-20299 { background-image: url(assets/sprites/20299.gif); }
.sprite-20300 { background-image: url(assets/sprites/20300.gif); }
.sprite-20312 { background-image: url(assets/sprites/20312.gif); }
.sprite-20313 { background-image: url(assets/sprites/20313.gif); }
.sprite-20314 { background-image: url(assets/sprites/20314.gif); }
.sprite-20316 { background-image: url(assets/sprites/20316.gif); }
.sprite-20317 { background-image: url(assets/sprites/20317.gif); }
.sprite-20318 { background-image: url(assets/sprites/20318.gif); }
.sprite-20319 { background-image: url(assets/sprites/20319.gif); }
.sprite-20320 { background-image: url(assets/sprites/20320.gif); }
.sprite-20321 { background-image: url(assets/sprites/20321.gif); }
.sprite-20322 { background-image: url(assets/sprites/20322.gif); }
.sprite-20323 { background-image: url(assets/sprites/20323.gif); }
.sprite-20324 { background-image: url(assets/sprites/20324.gif); }
.sprite-20325 { background-image: url(assets/sprites/20325.gif); }
.sprite-20326 { background-image: url(assets/sprites/20326.gif); }
.sprite-20327 { background-image: url(assets/sprites/20327.gif); }
.sprite-20328 { background-image: url(assets/sprites/20328.gif); }
.sprite-20329 { background-image: url(assets/sprites/20329.gif); }
.sprite-20330 { background-image: url(assets/sprites/20330.gif); }
.sprite-20331 { background-image: url(assets/sprites/20331.gif); }
.sprite-20332 { background-image: url(assets/sprites/20332.gif); }
.sprite-20333 { background-image: url(assets/sprites/20333.gif); }
.sprite-20334 { background-image: url(assets/sprites/20334.gif); }
.sprite-20335 { background-image: url(assets/sprites/20335.gif); }
.sprite-20336 { background-image: url(assets/sprites/20336.gif); }
.sprite-20337 { background-image: url(assets/sprites/20337.gif); }
.sprite-20338 { background-image: url(assets/sprites/20338.gif); }
.sprite-20339 { background-image: url(assets/sprites/20339.gif); }
.sprite-20340 { background-image: url(assets/sprites/20340.gif); }
.sprite-20341 { background-image: url(assets/sprites/20341.gif); }
.sprite-20342 { background-image: url(assets/sprites/20342.gif); }
.sprite-20343 { background-image: url(assets/sprites/20343.gif); }
.sprite-20344 { background-image: url(assets/sprites/20344.gif); }
.sprite-20346 { background-image: url(assets/sprites/20346.gif); }
.sprite-20347 { background-image: url(assets/sprites/20347.gif); }
.sprite-20348 { background-image: url(assets/sprites/20348.gif); }
.sprite-20350 { background-image: url(assets/sprites/20350.gif); }
.sprite-208 { background-image: url(assets/sprites/208.gif); }
.sprite-209 { background-image: url(assets/sprites/209.gif); }
.sprite-21 { background-image: url(assets/sprites/21.gif); }
.sprite-210 { background-image: url(assets/sprites/210.gif); }
.sprite-211 { background-image: url(assets/sprites/211.gif); }
.sprite-212 { background-image: url(assets/sprites/212.gif); }
.sprite-213 { background-image: url(assets/sprites/213.gif); }
.sprite-214 { background-image: url(assets/sprites/214.gif); }
.sprite-215 { background-image: url(assets/sprites/215.gif); }
.sprite-216 { background-image: url(assets/sprites/216.gif); }
.sprite-218 { background-image: url(assets/sprites/218.gif); }
.sprite-219 { background-image: url(assets/sprites/219.gif); }
.sprite-22 { background-image: url(assets/sprites/22.gif); }
.sprite-220 { background-image: url(assets/sprites/220.gif); }
.sprite-221 { background-image: url(assets/sprites/221.gif); }
.sprite-222 { background-image: url(assets/sprites/222.gif); }
.sprite-223 { background-image: url(assets/sprites/223.gif); }
.sprite-224 { background-image: url(assets/sprites/224.gif); }
.sprite-226 { background-image: url(assets/sprites/226.gif); }
.sprite-227 { background-image: url(assets/sprites/227.gif); }
.sprite-228 { background-image: url(assets/sprites/228.gif); }
.sprite-229 { background-image: url(assets/sprites/229.gif); }
.sprite-23 { background-image: url(assets/sprites/23.gif); }
.sprite-231 { background-image: url(assets/sprites/231.gif); }
.sprite-232 { background-image: url(assets/sprites/232.gif); }
.sprite-233 { background-image: url(assets/sprites/233.gif); }
.sprite-235 { background-image: url(assets/sprites/235.gif); }
.sprite-236 { background-image: url(assets/sprites/236.gif); }
.sprite-237 { background-image: url(assets/sprites/237.gif); }
.sprite-238 { background-image: url(assets/sprites/238.gif); }
.sprite-239 { background-image: url(assets/sprites/239.gif); }
.sprite-24 { background-image: url(assets/sprites/24.gif); }
.sprite-240 { background-image: url(assets/sprites/240.gif); }
.sprite-241 { background-image: url(assets/sprites/241.gif); }
.sprite-242 { background-image: url(assets/sprites/242.gif); }
.sprite-243 { background-image: url(assets/sprites/243.gif); }
.sprite-244 { background-image: url(assets/sprites/244.gif); }
.sprite-245 { background-image: url(assets/sprites/245.gif); }
.sprite-246 { background-image: url(assets/sprites/246.gif); }
.sprite-247 { background-image: url(assets/sprites/247.gif); }
.sprite-249 { background-image: url(assets/sprites/249.gif); }
.sprite-25 { background-image: url(assets/sprites/25.gif); }
.sprite-250 { background-image: url(assets/sprites/250.gif); }
.sprite-251 { background-image: url(assets/sprites/251.gif); }
.sprite-252 { background-image: url(assets/sprites/252.gif); }
.sprite-253 { background-image: url(assets/sprites/253.gif); }
.sprite-254 { background-image: url(assets/sprites/254.gif); }
.sprite-26 { background-image: url(assets/sprites/26.gif); }
.sprite-27 { background-image: url(assets/sprites/27.gif); }
.sprite-28 { background-image: url(assets/sprites/28.gif); }
.sprite-29 { background-image: url(assets/sprites/29.gif); }
.sprite-30 { background-image: url(assets/sprites/30.gif); }
.sprite-30001 { background-image: url(assets/sprites/30001.gif); }
.sprite-30002 { background-image: url(assets/sprites/30002.gif); }
.sprite-30004 { background-image: url(assets/sprites/30004.gif); }
.sprite-30005 { background-image: url(assets/sprites/30005.gif); }
.sprite-30006 { background-image: url(assets/sprites/30006.gif); }
.sprite-30007 { background-image: url(assets/sprites/30007.gif); }
.sprite-30008 { background-image: url(assets/sprites/30008.gif); }
.sprite-30009 { background-image: url(assets/sprites/30009.gif); }
.sprite-30010 { background-image: url(assets/sprites/30010.gif); }
.sprite-30011 { background-image: url(assets/sprites/30011.gif); }
.sprite-30012 { background-image: url(assets/sprites/30012.gif); }
.sprite-30013 { background-image: url(assets/sprites/30013.gif); }
.sprite-30014 { background-image: url(assets/sprites/30014.gif); }
.sprite-30015 { background-image: url(assets/sprites/30015.gif); }
.sprite-30016 { background-image: url(assets/sprites/30016.gif); }
.sprite-30017 { background-image: url(assets/sprites/30017.gif); }
.sprite-30018 { background-image: url(assets/sprites/30018.gif); }
.sprite-30019 { background-image: url(assets/sprites/30019.gif); }
.sprite-30020 { background-image: url(assets/sprites/30020.gif); }
.sprite-30021 { background-image: url(assets/sprites/30021.gif); }
.sprite-30022 { background-image: url(assets/sprites/30022.gif); }
.sprite-30023 { background-image: url(assets/sprites/30023.gif); }
.sprite-30024 { background-image: url(assets/sprites/30024.gif); }
.sprite-30025 { background-image: url(assets/sprites/30025.gif); }
.sprite-30026 { background-image: url(assets/sprites/30026.gif); }
.sprite-30027 { background-image: url(assets/sprites/30027.gif); }
.sprite-30028 { background-image: url(assets/sprites/30028.gif); }
.sprite-30029 { background-image: url(assets/sprites/30029.gif); }
.sprite-30030 { background-image: url(assets/sprites/30030.gif); }
.sprite-30031 { background-image: url(assets/sprites/30031.gif); }
.sprite-30032 { background-image: url(assets/sprites/30032.gif); }
.sprite-30033 { background-image: url(assets/sprites/30033.gif); }
.sprite-30034 { background-image: url(assets/sprites/30034.gif); }
.sprite-30035 { background-image: url(assets/sprites/30035.gif); }
.sprite-30036 { background-image: url(assets/sprites/30036.gif); }
.sprite-30037 { background-image: url(assets/sprites/30037.gif); }
.sprite-30038 { background-image: url(assets/sprites/30038.gif); }
.sprite-30039 { background-image: url(assets/sprites/30039.gif); }
.sprite-30040 { background-image: url(assets/sprites/30040.gif); }
.sprite-30048 { background-image: url(assets/sprites/30048.gif); }
.sprite-30049 { background-image: url(assets/sprites/30049.gif); }
.sprite-30050 { background-image: url(assets/sprites/30050.gif); }
.sprite-301 { background-image: url(assets/sprites/301.gif); }
.sprite-308 { background-image: url(assets/sprites/308.gif); }
.sprite-309 { background-image: url(assets/sprites/309.gif); }
.sprite-31 { background-image: url(assets/sprites/31.gif); }
.sprite-310 { background-image: url(assets/sprites/310.gif); }
.sprite-311 { background-image: url(assets/sprites/311.gif); }
.sprite-312 { background-image: url(assets/sprites/312.gif); }
.sprite-313 { background-image: url(assets/sprites/313.gif); }
.sprite-314 { background-image: url(assets/sprites/314.gif); }
.sprite-316 { background-image: url(assets/sprites/316.gif); }
.sprite-317 { background-image: url(assets/sprites/317.gif); }
.sprite-318 { background-image: url(assets/sprites/318.gif); }
.sprite-319 { background-image: url(assets/sprites/319.gif); }
.sprite-32 { background-image: url(assets/sprites/32.gif); }
.sprite-320 { background-image: url(assets/sprites/320.gif); }
.sprite-321 { background-image: url(assets/sprites/321.gif); }
.sprite-322 { background-image: url(assets/sprites/322.gif); }
.sprite-323 { background-image: url(assets/sprites/323.gif); }
.sprite-324 { background-image: url(assets/sprites/324.gif); }
.sprite-325 { background-image: url(assets/sprites/325.gif); }
.sprite-326 { background-image: url(assets/sprites/326.gif); }
.sprite-327 { background-image: url(assets/sprites/327.gif); }
.sprite-328 { background-image: url(assets/sprites/328.gif); }
.sprite-329 { background-image: url(assets/sprites/329.gif); }
.sprite-33 { background-image: url(assets/sprites/33.gif); }
.sprite-330 { background-image: url(assets/sprites/330.gif); }
.sprite-331 { background-image: url(assets/sprites/331.gif); }
.sprite-333 { background-image: url(assets/sprites/333.gif); }
.sprite-334 { background-image: url(assets/sprites/334.gif); }
.sprite-336 { background-image: url(assets/sprites/336.gif); }
.sprite-337 { background-image: url(assets/sprites/337.gif); }
.sprite-338 { background-image: url(assets/sprites/338.gif); }
.sprite-339 { background-image: url(assets/sprites/339.gif); }
.sprite-34 { background-image: url(assets/sprites/34.gif); }
.sprite-340 { background-image: url(assets/sprites/340.gif); }
.sprite-341 { background-image: url(assets/sprites/341.gif); }
.sprite-343 { background-image: url(assets/sprites/343.gif); }
.sprite-344 { background-image: url(assets/sprites/344.gif); }
.sprite-345 { background-image: url(assets/sprites/345.gif); }
.sprite-347 { background-image: url(assets/sprites/347.gif); }
.sprite-348 { background-image: url(assets/sprites/348.gif); }
.sprite-35 { background-image: url(assets/sprites/35.gif); }
.sprite-350 { background-image: url(assets/sprites/350.gif); }
.sprite-351 { background-image: url(assets/sprites/351.gif); }
.sprite-352 { background-image: url(assets/sprites/352.gif); }
.sprite-353 { background-image: url(assets/sprites/353.gif); }
.sprite-355 { background-image: url(assets/sprites/355.gif); }
.sprite-36 { background-image: url(assets/sprites/36.gif); }
.sprite-37 { background-image: url(assets/sprites/37.gif); }
.sprite-38 { background-image: url(assets/sprites/38.gif); }
.sprite-39 { background-image: url(assets/sprites/39.gif); }
.sprite-40 { background-image: url(assets/sprites/40.gif); }
.sprite-401 { background-image: url(assets/sprites/401.gif); }
.sprite-402 { background-image: url(assets/sprites/402.gif); }
.sprite-403 { background-image: url(assets/sprites/403.gif); }
.sprite-404 { background-image: url(assets/sprites/404.gif); }
.sprite-405 { background-image: url(assets/sprites/405.gif); }
.sprite-406 { background-image: url(assets/sprites/406.gif); }
.sprite-407 { background-image: url(assets/sprites/407.gif); }
.sprite-408 { background-image: url(assets/sprites/408.gif); }
.sprite-409 { background-image: url(assets/sprites/409.gif); }
.sprite-41 { background-image: url(assets/sprites/41.gif); }
.sprite-410 { background-image: url(assets/sprites/410.gif); }
.sprite-412 { background-image: url(assets/sprites/412.gif); }
.sprite-413 { background-image: url(assets/sprites/413.gif); }
.sprite-414 { background-image: url(assets/sprites/414.gif); }
.sprite-415 { background-image: url(assets/sprites/415.gif); }
.sprite-417 { background-image: url(assets/sprites/417.gif); }
.sprite-418 { background-image: url(assets/sprites/418.gif); }
.sprite-419 { background-image: url(assets/sprites/419.gif); }
.sprite-42 { background-image: url(assets/sprites/42.gif); }
.sprite-420 { background-image: url(assets/sprites/420.gif); }
.sprite-421 { background-image: url(assets/sprites/421.gif); }
.sprite-422 { background-image: url(assets/sprites/422.gif); }
.sprite-423 { background-image: url(assets/sprites/423.gif); }
.sprite-424 { background-image: url(assets/sprites/424.gif); }
.sprite-425 { background-image: url(assets/sprites/425.gif); }
.sprite-426 { background-image: url(assets/sprites/426.gif); }
.sprite-428 { background-image: url(assets/sprites/428.gif); }
.sprite-429 { background-image: url(assets/sprites/429.gif); }
.sprite-430 { background-image: url(assets/sprites/430.gif); }
.sprite-432 { background-image: url(assets/sprites/432.gif); }
.sprite-433 { background-image: url(assets/sprites/433.gif); }
.sprite-434 { background-image: url(assets/sprites/434.gif); }
.sprite-435 { background-image: url(assets/sprites/435.gif); }
.sprite-436 { background-image: url(assets/sprites/436.gif); }
.sprite-437 { background-image: url(assets/sprites/437.gif); }
.sprite-438 { background-image: url(assets/sprites/438.gif); }
.sprite-439 { background-image: url(assets/sprites/439.gif); }
.sprite-44 { background-image: url(assets/sprites/44.gif); }
.sprite-440 { background-image: url(assets/sprites/440.gif); }
.sprite-441 { background-image: url(assets/sprites/441.gif); }
.sprite-444 { background-image: url(assets/sprites/444.gif); }
.sprite-445 { background-image: url(assets/sprites/445.gif); }
.sprite-446 { background-image: url(assets/sprites/446.gif); }
.sprite-447 { background-image: url(assets/sprites/447.gif); }
.sprite-448 { background-image: url(assets/sprites/448.gif); }
.sprite-449 { background-image: url(assets/sprites/449.gif); }
.sprite-45 { background-image: url(assets/sprites/45.gif); }
.sprite-47 { background-image: url(assets/sprites/47.gif); }
.sprite-48 { background-image: url(assets/sprites/48.gif); }
.sprite-49 { background-image: url(assets/sprites/49.gif); }
.sprite-50 { background-image: url(assets/sprites/50.gif); }
.sprite-501 { background-image: url(assets/sprites/501.gif); }
.sprite-503 { background-image: url(assets/sprites/503.gif); }
.sprite-505 { background-image: url(assets/sprites/505.gif); }
.sprite-506 { background-image: url(assets/sprites/506.gif); }
.sprite-507 { background-image: url(assets/sprites/507.gif); }
.sprite-508 { background-image: url(assets/sprites/508.gif); }
.sprite-51 { background-image: url(assets/sprites/51.gif); }
.sprite-510 { background-image: url(assets/sprites/510.gif); }
.sprite-511 { background-image: url(assets/sprites/511.gif); }
.sprite-512 { background-image: url(assets/sprites/512.gif); }
.sprite-513 { background-image: url(assets/sprites/513.gif); }
.sprite-514 { background-image: url(assets/sprites/514.gif); }
.sprite-515 { background-image: url(assets/sprites/515.gif); }
.sprite-517 { background-image: url(assets/sprites/517.gif); }
.sprite-519 { background-image: url(assets/sprites/519.gif); }
.sprite-526 { background-image: url(assets/sprites/526.gif); }
.sprite-527 { background-image: url(assets/sprites/527.gif); }
.sprite-528 { background-image: url(assets/sprites/528.gif); }
.sprite-529 { background-image: url(assets/sprites/529.gif); }
.sprite-530 { background-image: url(assets/sprites/530.gif); }
.sprite-531 { background-image: url(assets/sprites/531.gif); }
.sprite-532 { background-image: url(assets/sprites/532.gif); }
.sprite-533 { background-image: url(assets/sprites/533.gif); }
.sprite-534 { background-image: url(assets/sprites/534.gif); }
.sprite-536 { background-image: url(assets/sprites/536.gif); }
.sprite-537 { background-image: url(assets/sprites/537.gif); }
.sprite-538 { background-image: url(assets/sprites/538.gif); }
.sprite-539 { background-image: url(assets/sprites/539.gif); }
.sprite-540 { background-image: url(assets/sprites/540.gif); }
.sprite-541 { background-image: url(assets/sprites/541.gif); }
.sprite-542 { background-image: url(assets/sprites/542.gif); }
.sprite-543 { background-image: url(assets/sprites/543.gif); }
.sprite-545 { background-image: url(assets/sprites/545.gif); }
.sprite-547 { background-image: url(assets/sprites/547.gif); }
.sprite-548 { background-image: url(assets/sprites/548.gif); }
.sprite-549 { background-image: url(assets/sprites/549.gif); }
.sprite-550 { background-image: url(assets/sprites/550.gif); }
.sprite-552 { background-image: url(assets/sprites/552.gif); }
.sprite-554 { background-image: url(assets/sprites/554.gif); }
.sprite-555 { background-image: url(assets/sprites/555.gif); }
.sprite-556 { background-image: url(assets/sprites/556.gif); }
.sprite-557 { background-image: url(assets/sprites/557.gif); }
.sprite-558 { background-image: url(assets/sprites/558.gif); }
.sprite-8 { background-image: url(assets/sprites/8.gif); }
.sprite-9 { background-image: url(assets/sprites/9.gif); }
