.vanar-sprite {
    background-image: url(assets/images//sprites_vanar.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.vanar-20134 {
    background-position: -5px -5px;
}

.vanar-20135 {
    background-position: -111px -5px;
}

.vanar-20136 {
    background-position: -217px -5px;
}

.vanar-20137 {
    background-position: -323px -5px;
}

.vanar-20138 {
    background-position: -429px -5px;
}

.vanar-20139 {
    background-position: -535px -5px;
}

.vanar-20140 {
    background-position: -641px -5px;
}

.vanar-20144 {
    background-position: -747px -5px;
}

.vanar-20145 {
    background-position: -853px -5px;
}

.vanar-20146 {
    background-position: -959px -5px;
}

.vanar-20147 {
    background-position: -5px -111px;
}

.vanar-20148 {
    background-position: -111px -111px;
}

.vanar-20149 {
    background-position: -217px -111px;
}

.vanar-20150 {
    background-position: -323px -111px;
}

.vanar-20160 {
    background-position: -429px -111px;
}

.vanar-20163 {
    background-position: -535px -111px;
}

.vanar-20165 {
    background-position: -641px -111px;
}

.vanar-20207 {
    background-position: -747px -111px;
}

.vanar-20208 {
    background-position: -853px -111px;
}

.vanar-20209 {
    background-position: -959px -111px;
}

.vanar-20211 {
    background-position: -5px -217px;
}

.vanar-20212 {
    background-position: -111px -217px;
}

.vanar-20214 {
    background-position: -217px -217px;
}

.vanar-20228 {
    background-position: -323px -217px;
}

.vanar-20229 {
    background-position: -429px -217px;
}

.vanar-20237 {
    background-position: -535px -217px;
}

.vanar-20261 {
    background-position: -641px -217px;
}

.vanar-30015 {
    background-position: -747px -217px;
}

.vanar-30016 {
    background-position: -853px -217px;
}

.vanar-30019 {
    background-position: -959px -217px;
}

.vanar-30021 {
    background-position: -5px -323px;
}

.vanar-30031 {
    background-position: -111px -323px;
}

.vanar-503 {
    background-position: -217px -323px;
}

.vanar-505 {
    background-position: -387px -323px;
}

.vanar-506 {
    background-position: -557px -323px;
}

.vanar-507 {
    background-position: -727px -323px;
}

.vanar-508 {
    background-position: -897px -323px;
}

.vanar-510 {
    background-position: -5px -493px;
}

.vanar-511 {
    background-position: -175px -493px;
}

.vanar-512 {
    background-position: -345px -493px;
}

.vanar-513 {
    background-position: -515px -493px;
}

.vanar-514 {
    background-position: -685px -493px;
}

.vanar-515 {
    background-position: -855px -493px;
}

.vanar-517 {
    background-position: -5px -663px;
}

.vanar-519 {
    background-position: -175px -663px;
}

.vanar-526 {
    background-position: -345px -663px;
}

.vanar-528 {
    background-position: -515px -663px;
}

.vanar-529 {
    background-position: -685px -663px;
}

.vanar-530 {
    background-position: -855px -663px;
}

.vanar-531 {
    background-position: -5px -833px;
}

.vanar-532 {
    background-position: -175px -833px;
}

.vanar-533 {
    background-position: -345px -833px;
}

.vanar-534 {
    background-position: -515px -833px;
}

.vanar-536 {
    background-position: -685px -833px;
}

.vanar-537 {
    background-position: -855px -833px;
}

.vanar-538 {
    background-position: -1065px -5px;
}

.vanar-539 {
    background-position: -1067px -175px;
}

.vanar-540 {
    background-position: -1067px -345px;
}

.vanar-541 {
    background-position: -1025px -515px;
}
