.vetruvian-sprite {
    background-image: url(assets/images//sprites_vetruvian.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}

.vetruvian-20028 {
    background-position: -5px -5px;
}

.vetruvian-20073 {
    background-position: -111px -5px;
}

.vetruvian-20074 {
    background-position: -217px -5px;
}

.vetruvian-20075 {
    background-position: -323px -5px;
}

.vetruvian-20076 {
    background-position: -429px -5px;
}

.vetruvian-20077 {
    background-position: -535px -5px;
}

.vetruvian-20078 {
    background-position: -641px -5px;
}

.vetruvian-20093 {
    background-position: -747px -5px;
}

.vetruvian-20095 {
    background-position: -853px -5px;
}

.vetruvian-20096 {
    background-position: -5px -111px;
}

.vetruvian-20097 {
    background-position: -111px -111px;
}

.vetruvian-20105 {
    background-position: -217px -111px;
}

.vetruvian-20132 {
    background-position: -323px -111px;
}

.vetruvian-20151 {
    background-position: -429px -111px;
}

.vetruvian-20152 {
    background-position: -535px -111px;
}

.vetruvian-20153 {
    background-position: -641px -111px;
}

.vetruvian-20169 {
    background-position: -747px -111px;
}

.vetruvian-20195 {
    background-position: -853px -111px;
}

.vetruvian-20196 {
    background-position: -5px -217px;
}

.vetruvian-20197 {
    background-position: -111px -217px;
}

.vetruvian-20198 {
    background-position: -217px -217px;
}

.vetruvian-20216 {
    background-position: -323px -217px;
}

.vetruvian-20242 {
    background-position: -429px -217px;
}

.vetruvian-20244 {
    background-position: -535px -217px;
}

.vetruvian-20246 {
    background-position: -641px -217px;
}

.vetruvian-208 {
    background-position: -747px -217px;
}

.vetruvian-209 {
    background-position: -5px -387px;
}

.vetruvian-210 {
    background-position: -175px -387px;
}

.vetruvian-211 {
    background-position: -345px -387px;
}

.vetruvian-212 {
    background-position: -515px -387px;
}

.vetruvian-213 {
    background-position: -685px -387px;
}

.vetruvian-214 {
    background-position: -855px -387px;
}

.vetruvian-215 {
    background-position: -5px -557px;
}

.vetruvian-216 {
    background-position: -175px -557px;
}

.vetruvian-218 {
    background-position: -345px -557px;
}

.vetruvian-219 {
    background-position: -515px -557px;
}

.vetruvian-220 {
    background-position: -685px -557px;
}

.vetruvian-221 {
    background-position: -855px -557px;
}

.vetruvian-222 {
    background-position: -5px -727px;
}

.vetruvian-224 {
    background-position: -175px -727px;
}

.vetruvian-226 {
    background-position: -345px -727px;
}

.vetruvian-227 {
    background-position: -515px -727px;
}

.vetruvian-228 {
    background-position: -685px -727px;
}

.vetruvian-229 {
    background-position: -855px -727px;
}

.vetruvian-231 {
    background-position: -959px -5px;
}

.vetruvian-232 {
    background-position: -959px -175px;
}

.vetruvian-233 {
    background-position: -1025px -345px;
}

.vetruvian-235 {
    background-position: -1025px -515px;
}

.vetruvian-236 {
    background-position: -1025px -685px;
}

.vetruvian-237 {
    background-position: -1025px -855px;
}

.vetruvian-30006 {
    background-position: -5px -1025px;
}

.vetruvian-30008 {
    background-position: -111px -1025px;
}

.vetruvian-30011 {
    background-position: -217px -1025px;
}

.vetruvian-30022 {
    background-position: -323px -1025px;
}
